/**
 *  - v1.7.5
 * 
 * Copyright (c) 2020
 * Licensed GPLv2+
 */

.ct-loading-view .ct-open-quick-view {
    opacity: 1 !important
}

.ct-loading-view .ct-open-quick-view:after {
    background: var(--paletteColor1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1)
}

.ct-loading-view .ct-open-quick-view svg {
    opacity: 0
}

.ct-loading-view .ct-open-quick-view [data-loader] {
    --loaderColor: #fff;
    visibility: visible;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.ct-open-quick-view {
    --linkInitialColor: var(--color);
    --linkHoverColor: #fff;
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    opacity: 0;
    -webkit-transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.ct-open-quick-view:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #fff;
    -webkit-transition: background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.ct-open-quick-view:hover:after {
    background: var(--paletteColor1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1)
}

.ct-open-quick-view svg {
    position: relative;
    z-index: 1;
    fill: currentColor
}

@media (max-width: 689.98px) {
    .ct-open-quick-view {
        display: none
    }
}

.ct-open-quick-view [data-loader] {
    visibility: hidden;
    z-index: 1;
    width: inherit;
    height: inherit
}

.shop-entries[data-layout="grid"] .ct-open-quick-view {
    right: 20px;
    bottom: 20px
}

.shop-entries[data-layout="shop-simple"] .ct-open-quick-view {
    right: 20px;
    bottom: 20px
}

.shop-entries .shop-entry-card:hover .ct-open-quick-view {
    opacity: 1
}

[id*="quick-view"] {
    --backgroundColor: rgba(18, 21, 25, 0.7)
}

@media (max-width: 689.98px) {
    [id*="quick-view"] {
        display: none
    }
}

[id*="quick-view"] .content-container {
    --padding: 0
}

[id*="quick-view"] .ct-container {
    --maxSiteWidth: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 200px;
    max-height: 700px;
    background: #fff;
    overflow: hidden;
    border-radius: 7px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    -webkit-box-shadow: 0px 50px 100px 0px rgba(18, 21, 25, 0.2);
    box-shadow: 0px 50px 100px 0px rgba(18, 21, 25, 0.2);
    -webkit-mask-image: -webkit-radial-gradient(white, black)
}

[id*="quick-view"] .ct-container section {
    width: 50%
}

[id*="quick-view"] .close-button {
    --top: 30px;
    --right: 30px;
    --triggerWidth: 14px;
    --closeButtonSize: 34px;
    --closeButtonColor: var(--color);
    --closeButtonBackground: transparent
}

[id*="quick-view"] .close-button:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    opacity: 0.5;
    background: #e2e2e2;
    -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out
}

[id*="quick-view"] .close-button:hover:before {
    opacity: 0.8;
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

.ct-quick-view-images {
    position: relative
}

.ct-quick-view-images .ct-product-view {
    margin-bottom: 0
}

.ct-quick-view-images .ct-image-container {
    pointer-events: none;
    --display: flex
}

.ct-quick-view-images .flexy-pills[data-type="circle"] {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 20px;
    --flexyInitialPill: rgba(255, 255, 255, 0.6);
    --flexyActivePill: #fff
}

.ct-quick-view-images:after {
    position: absolute;
    z-index: 3;
    content: '';
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.08)
}

.ct-quick-view-images .onsale {
    --badgeTop: 20px;
    --badgeLeft: 20px;
    height: 30px;
    padding: 0 15px
}

.ct-quick-view-summary {
    position: relative;
    overflow: hidden
}

.ct-quick-view-summary .entry-summary {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: calc(100% - 55px);
    padding: 30px 40px 0 40px;
    overflow-y: auto
}

.ct-quick-view-summary .entry-summary>*:last-child {
    margin-bottom: 40px
}

.ct-quick-view-summary .entry-summary:focus {
    outline: none
}

.ct-quick-view-summary .entry-summary .product_title {
    padding-right: 40px
}

.ct-quick-view-summary:before {
    position: absolute;
    z-index: 2;
    content: '';
    top: -2px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px 20px #fff;
    box-shadow: 0px 0px 20px 20px #fff
}

.quick-view-modal div.product form.cart {
    border-top-style: dashed
}

.quick-view-modal div.product form.cart .single_add_to_cart_button {
    display: none !important
}

.ct-quick-view-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 20px 20px #fff;
    box-shadow: 0px 0px 20px 20px #fff
}

.ct-quick-view-actions>* {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 55px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.015em;
    -webkit-transition: background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.ct-quick-view-actions>*:first-child:nth-last-child(1) {
    width: 100%
}

.ct-quick-view-actions>*:first-child:nth-last-child(2),
.ct-quick-view-actions>*:first-child:nth-last-child(2)~* {
    width: 50%
}

.ct-quick-view-actions .ct-quick-add {
    color: #fff;
    background: var(--paletteColor1)
}

.ct-quick-view-actions .ct-quick-add:hover {
    background: var(--paletteColor2)
}

.ct-quick-view-actions .ct-quick-add.loading:after {
    font-family: 'woo';
    content: '\e982';
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: currentColor;
    margin-left: 10px;
    margin-top: 2px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}

.ct-quick-view-actions .ct-quick-more {
    --linkInitialColor: var(--color);
    background: rgba(224, 229, 235, 0.6)
}

.ct-quick-view-actions .ct-quick-more:hover {
    background: rgba(224, 229, 235, 0.8)
}

.ct-floating-bar {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75px;
    color: var(--color);
    background: var(--backgroundColor);
    -webkit-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
    -webkit-transition: opacity 0.2s ease, visibility 0.2s ease, -webkit-transform 0.2s ease;
    transition: opacity 0.2s ease, visibility 0.2s ease, -webkit-transform 0.2s ease;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease, -webkit-transform 0.2s ease
}

@media (max-width: 689.98px) {
    .ct-floating-bar {
        display: none
    }
}

.ct-floating-bar.ct-active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.ct-floating-bar>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.ct-floating-bar section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.ct-floating-bar section p {
    --contentSpacing: 0
}

.ct-floating-bar section:last-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.ct-floating-bar .ct-image-container {
    max-width: 50px;
    border-radius: 3px;
    margin-right: 15px
}

.ct-floating-bar .product_title {
    --fontSize: 16px;
    --fontWeight: 600;
    --headingColor: var(--color)
}

.ct-floating-bar .price {
    margin-right: 15px
}

.ct-floating-bar .stock {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 15px
}

.ct-floating-bar .stock:before {
    content: '/';
    margin-right: 10px
}

.ct-floating-bar form.cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ct-floating-bar .quantity {
    --quantityHeight: 40px;
    width: 80px;
    margin-right: 10px
}

.ct-floating-bar .quantity input[type="number"] {
    --formFontSize: 13px
}

.ct-floating-bar .button,
.ct-floating-bar .added_to_cart,
.ct-floating-bar .single_add_to_cart_button {
    --buttonMinHeight: 40px;
    --padding: 0 17px
}

.ct-floating-bar .added_to_cart {
    margin-left: 10px
}