.elementor-14 .elementor-element.elementor-element-24eaada>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-14 .elementor-element.elementor-element-24eaada {
    z-index: 0;
}

.elementor-14 .elementor-element.elementor-element-170e92b .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-14 .elementor-element.elementor-element-170e92b .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 55px;
    color: #6EC1E4;
}

.elementor-14 .elementor-element.elementor-element-d7877bd {
    padding: 10px 0px 5px 0px;
}

.elementor-14 .elementor-element.elementor-element-308246f .elementor-button .elementor-align-icon-right {
    margin-left: 5px;
}

.elementor-14 .elementor-element.elementor-element-308246f .elementor-button .elementor-align-icon-left {
    margin-right: 5px;
}

.elementor-14 .elementor-element.elementor-element-308246f .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #A8E3FC;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A8E3FC;
    padding: 18px 25px 18px 25px;
}

.elementor-14 .elementor-element.elementor-element-308246f .elementor-button:hover,
.elementor-14 .elementor-element.elementor-element-308246f .elementor-button:focus {
    color: #46B1C9;
    background-color: #FFFFFF;
    border-color: #46B1C9;
}

.elementor-14 .elementor-element.elementor-element-308246f .elementor-button:hover svg,
.elementor-14 .elementor-element.elementor-element-308246f .elementor-button:focus svg {
    fill: #46B1C9;
}

.elementor-14 .elementor-element.elementor-element-0c89ef4 .elementor-button .elementor-align-icon-right {
    margin-left: 5px;
}

.elementor-14 .elementor-element.elementor-element-0c89ef4 .elementor-button .elementor-align-icon-left {
    margin-right: 5px;
}

.elementor-14 .elementor-element.elementor-element-0c89ef4 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #A8E3FC;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A8E3FC;
    padding: 18px 25px 18px 25px;
}

.elementor-14 .elementor-element.elementor-element-0c89ef4 .elementor-button:hover,
.elementor-14 .elementor-element.elementor-element-0c89ef4 .elementor-button:focus {
    color: #46B1C9;
    background-color: #FFFFFF;
    border-color: #46B1C9;
}

.elementor-14 .elementor-element.elementor-element-0c89ef4 .elementor-button:hover svg,
.elementor-14 .elementor-element.elementor-element-0c89ef4 .elementor-button:focus svg {
    fill: #46B1C9;
}

.elementor-14 .elementor-element.elementor-element-c88779b .elementor-button .elementor-align-icon-right {
    margin-left: 5px;
}

.elementor-14 .elementor-element.elementor-element-c88779b .elementor-button .elementor-align-icon-left {
    margin-right: 5px;
}

.elementor-14 .elementor-element.elementor-element-c88779b .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #A8E3FC;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A8E3FC;
    padding: 18px 25px 18px 25px;
}

.elementor-14 .elementor-element.elementor-element-c88779b .elementor-button:hover,
.elementor-14 .elementor-element.elementor-element-c88779b .elementor-button:focus {
    color: #46B1C9;
    background-color: #FFFFFF;
    border-color: #46B1C9;
}

.elementor-14 .elementor-element.elementor-element-c88779b .elementor-button:hover svg,
.elementor-14 .elementor-element.elementor-element-c88779b .elementor-button:focus svg {
    fill: #46B1C9;
}

.elementor-14 .elementor-element.elementor-element-647aef10 {
    margin-top: 50px;
    margin-bottom: 0px;
    z-index: 9;
}

.elementor-bc-flex-widget .elementor-14 .elementor-element.elementor-element-397291fa.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-14 .elementor-element.elementor-element-397291fa.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-14 .elementor-element.elementor-element-397291fa:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-14 .elementor-element.elementor-element-397291fa>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://www.skycorp.in/wp-content/uploads/2020/07/hook-and-loop-fastener.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-14 .elementor-element.elementor-element-397291fa>.elementor-element-populated>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.6;
}

.elementor-14 .elementor-element.elementor-element-397291fa>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 70px 70px 70px;
}

.elementor-14 .elementor-element.elementor-element-397291fa>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-12c7d939 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
}

.elementor-14 .elementor-element.elementor-element-5a8af702 {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-1c3801db:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-14 .elementor-element.elementor-element-1c3801db>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-1c3801db>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 70px 70px 70px;
}

.elementor-14 .elementor-element.elementor-element-1c3801db>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-66cfc8aa .elementor-heading-title {
    font-size: 60px;
    font-weight: 900;
    line-height: 38px;
}

.elementor-14 .elementor-element.elementor-element-66cfc8aa>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-3308c95 .elementor-heading-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.elementor-14 .elementor-element.elementor-element-e381cb2 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #A8E3FC;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #6EC1E4;
}

.elementor-14 .elementor-element.elementor-element-e381cb2 .elementor-button:hover,
.elementor-14 .elementor-element.elementor-element-e381cb2 .elementor-button:focus {
    color: #000000;
    background-color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-e381cb2 .elementor-button:hover svg,
.elementor-14 .elementor-element.elementor-element-e381cb2 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-14 .elementor-element.elementor-element-3ab366c {
    padding: 80px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-a38d89e {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-a38d89e .elementor-heading-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-media-top img,
.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-media-bottom img {
    width: 100%;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body span a,
.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body span {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body span a:hover,
.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body span:hover {
    color: #000000;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body span {
    margin: 0px 0 0;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body .wk-card-title a {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body .wk-card-title {
    font-size: 18px;
    padding: 0px 0;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body .wk-card-title a:hover {
    color: #000000;
    text-decoration: none;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body p {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card {
    background: #B3B9C0;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    border-radius: 16px 16px 16px 16px;
    overflow: hidden;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-card .wk-card-body {
    padding: 12px 10px 12px 10px;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-dotnav li a {
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
    background-color: #777;
}

.elementor-14 .elementor-element.elementor-element-172304e .content-carousel .wk-dotnav .wk-active a {
    width: 20px;
    transition: all 0.3s ease;
    border-radius: 10px;
    background-color: #0073aa;
    border-color: #0073aa;
}

.elementor-14 .elementor-element.elementor-element-1a6f351 {
    padding: 50px 0px 50px 0px;
}

.elementor-14 .elementor-element.elementor-element-d3ce3bc {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-d3ce3bc .elementor-heading-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
}

.elementor-14 .elementor-element.elementor-element-0e12e3e {
    padding: 20px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-2c821f0 {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-2c821f0 .elementor-heading-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-media-top img,
.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-media-bottom img {
    width: 100%;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-body span a:hover,
.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-body span:hover {
    color: #000000;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-body span {
    margin: 0px 0 0;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-body .wk-card-title a {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-body .wk-card-title {
    font-size: 18px;
    padding: 0px 0;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-body .wk-card-title a:hover {
    color: #000000;
    text-decoration: none;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-body p {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card {
    background: #B3B9C0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    border-radius: 16px 16px 16px 16px;
    overflow: hidden;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-card .wk-card-body {
    padding: 12px 5px 12px 5px;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-dotnav li a {
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
    background-color: #777;
}

.elementor-14 .elementor-element.elementor-element-bd87146 .content-carousel .wk-dotnav .wk-active a {
    width: 20px;
    transition: all 0.3s ease;
    border-radius: 10px;
    background-color: #0073aa;
    border-color: #0073aa;
}

.elementor-14 .elementor-element.elementor-element-ac39d1d {
    padding: 80px 0px 50px 0px;
}

.elementor-14 .elementor-element.elementor-element-5c3db7a {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-5c3db7a .elementor-heading-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
}

.elementor-14 .elementor-element.elementor-element-029997f .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-14 .elementor-element.elementor-element-029997f .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 32px;
    color: #000000;
}

.elementor-14 .elementor-element.elementor-element-029997f .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-14 .elementor-element.elementor-element-e8195aa:not(.elementor-motion-effects-element-type-background),
.elementor-14 .elementor-element.elementor-element-e8195aa>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1C1D1E;
    background-image: url("https://demo.creativethemes.com/blocksy/modern-shop/wp-content/uploads/2020/03/shapelined-K9QHL52rE2k-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-14 .elementor-element.elementor-element-e8195aa>.elementor-background-overlay {
    background-color: #1C1D1E;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-e8195aa,
.elementor-14 .elementor-element.elementor-element-e8195aa>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-14 .elementor-element.elementor-element-e8195aa {
    box-shadow: 0px 30px 50px -15px rgba(28, 29, 30, 0.4);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 040px;
    margin-bottom: 50px;
}

.elementor-14 .elementor-element.elementor-element-03a66e3>.elementor-element-populated {
    padding: 30px 0px 30px 100px;
}

.elementor-14 .elementor-element.elementor-element-be77142 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
}

.elementor-14 .elementor-element.elementor-element-21d6be5 {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-21d6be5>.elementor-widget-container {
    padding: 0px 100px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-abd7051 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #A8E3FC;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #85CBE9;
}

.elementor-14 .elementor-element.elementor-element-abd7051 .elementor-button:hover,
.elementor-14 .elementor-element.elementor-element-abd7051 .elementor-button:focus {
    color: #000000;
    background-color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-abd7051 .elementor-button:hover svg,
.elementor-14 .elementor-element.elementor-element-abd7051 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-14 .elementor-element.elementor-element-8234b99 {
    margin-top: 120px;
    margin-bottom: 0px;
}

.elementor-14 .elementor-element.elementor-element-51c09e2>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-14 .elementor-element.elementor-element-b6fc16f {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-b6fc16f .elementor-heading-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
}

.elementor-14 .elementor-element.elementor-element-9f7005c .elementor-text-editor {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-9f7005c>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-14 .elementor-element.elementor-element-f590acf:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-14 .elementor-element.elementor-element-f590acf>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-f590acf>.elementor-element-populated,
.elementor-14 .elementor-element.elementor-element-f590acf>.elementor-element-populated>.elementor-background-overlay,
.elementor-14 .elementor-element.elementor-element-f590acf>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-14 .elementor-element.elementor-element-f590acf>.elementor-element-populated {
    box-shadow: 0px 30px 80px 0px rgba(193, 199, 212, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    padding: 40px 40px 40px 40px;
}

.elementor-14 .elementor-element.elementor-element-f590acf>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-eb95e2d.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-14 .elementor-element.elementor-element-eb95e2d.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-14 .elementor-element.elementor-element-eb95e2d.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-14 .elementor-element.elementor-element-eb95e2d .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%;
}

.elementor-14 .elementor-element.elementor-element-eb95e2d .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-14 .elementor-element.elementor-element-eb95e2d .elementor-image-box-title {
    margin-bottom: 0px;
}

.elementor-14 .elementor-element.elementor-element-335829c:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-14 .elementor-element.elementor-element-335829c>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-335829c>.elementor-element-populated,
.elementor-14 .elementor-element.elementor-element-335829c>.elementor-element-populated>.elementor-background-overlay,
.elementor-14 .elementor-element.elementor-element-335829c>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-14 .elementor-element.elementor-element-335829c>.elementor-element-populated {
    box-shadow: 0px 30px 80px 0px rgba(193, 199, 212, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    padding: 40px 40px 40px 40px;
}

.elementor-14 .elementor-element.elementor-element-335829c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-191bf08.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-14 .elementor-element.elementor-element-191bf08.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-14 .elementor-element.elementor-element-191bf08.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-14 .elementor-element.elementor-element-191bf08 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%;
}

.elementor-14 .elementor-element.elementor-element-191bf08 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-14 .elementor-element.elementor-element-191bf08 .elementor-image-box-title {
    margin-bottom: 0px;
}

.elementor-14 .elementor-element.elementor-element-a8b8322:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-14 .elementor-element.elementor-element-a8b8322>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-a8b8322>.elementor-element-populated,
.elementor-14 .elementor-element.elementor-element-a8b8322>.elementor-element-populated>.elementor-background-overlay,
.elementor-14 .elementor-element.elementor-element-a8b8322>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-14 .elementor-element.elementor-element-a8b8322>.elementor-element-populated {
    box-shadow: 0px 30px 80px 0px rgba(193, 199, 212, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    padding: 40px 40px 40px 40px;
}

.elementor-14 .elementor-element.elementor-element-a8b8322>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-a16c72e.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-14 .elementor-element.elementor-element-a16c72e.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-14 .elementor-element.elementor-element-a16c72e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-14 .elementor-element.elementor-element-a16c72e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%;
}

.elementor-14 .elementor-element.elementor-element-a16c72e .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-14 .elementor-element.elementor-element-a16c72e .elementor-image-box-title {
    margin-bottom: 0px;
}

@media(max-width:999px) {
    .elementor-14 .elementor-element.elementor-element-e8195aa {
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .elementor-14 .elementor-element.elementor-element-03a66e3>.elementor-element-populated {
        padding: 70px 70px 70px 70px;
    }

    .elementor-14 .elementor-element.elementor-element-be77142 {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-21d6be5 .elementor-text-editor {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-8234b99 {
        margin-top: 80px;
        margin-bottom: 0px;
    }
}

@media(max-width:689px) {
    .elementor-14 .elementor-element.elementor-element-46cca7c {
        width: 33%;
    }

    .elementor-14 .elementor-element.elementor-element-46cca7c>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-308246f .elementor-button {
        font-size: 14px;
        padding: 5px 10px 5px 10px;
    }

    .elementor-14 .elementor-element.elementor-element-1240ffa {
        width: 33%;
    }

    .elementor-14 .elementor-element.elementor-element-1240ffa>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-0c89ef4 .elementor-button {
        font-size: 14px;
        padding: 5px 10px 5px 10px;
    }

    .elementor-14 .elementor-element.elementor-element-43aaf29 {
        width: 33%;
    }

    .elementor-14 .elementor-element.elementor-element-43aaf29>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-c88779b .elementor-button {
        font-size: 14px;
        padding: 5px 5px 5px 5px;
    }

    .elementor-14 .elementor-element.elementor-element-397291fa>.elementor-element-populated {
        padding: 40px 40px 40px 40px;
    }

    .elementor-14 .elementor-element.elementor-element-12c7d939 {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-12c7d939 .elementor-heading-title {
        font-size: 24px;
        line-height: 40px;
    }

    .elementor-14 .elementor-element.elementor-element-5a8af702 .elementor-text-editor {
        text-align: left;
    }

    .elementor-14 .elementor-element.elementor-element-5a8af702 {
        font-size: 14px;
    }

    .elementor-14 .elementor-element.elementor-element-1c3801db>.elementor-element-populated {
        padding: 40px 30px 40px 30px;
    }

    .elementor-14 .elementor-element.elementor-element-66cfc8aa {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-66cfc8aa .elementor-heading-title {
        font-size: 24px;
        line-height: 40px;
    }

    .elementor-14 .elementor-element.elementor-element-4f2f619d .elementor-text-editor {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-4f2f619d {
        font-size: 14px;
    }

    .elementor-14 .elementor-element.elementor-element-a38d89e {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-a38d89e .elementor-heading-title {
        font-size: 28px;
        line-height: 40px;
    }

    .elementor-14 .elementor-element.elementor-element-d3ce3bc {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-d3ce3bc .elementor-heading-title {
        font-size: 28px;
        line-height: 40px;
    }

    .elementor-14 .elementor-element.elementor-element-2c821f0 {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-2c821f0 .elementor-heading-title {
        font-size: 28px;
        line-height: 40px;
    }

    .elementor-14 .elementor-element.elementor-element-5c3db7a {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-5c3db7a .elementor-heading-title {
        font-size: 28px;
        line-height: 40px;
    }

    .elementor-14 .elementor-element.elementor-element-03a66e3>.elementor-element-populated {
        padding: 40px 40px 40px 40px;
    }

    .elementor-14 .elementor-element.elementor-element-be77142 .elementor-heading-title {
        font-size: 28px;
        line-height: 40px;
    }

    .elementor-14 .elementor-element.elementor-element-21d6be5>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-b6fc16f {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-b6fc16f .elementor-heading-title {
        font-size: 28px;
        line-height: 40px;
    }

    .elementor-14 .elementor-element.elementor-element-2b6862d .elementor-text-editor {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-eb95e2d .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-14 .elementor-element.elementor-element-6be0b32 .elementor-text-editor {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-191bf08 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-14 .elementor-element.elementor-element-177bf5e .elementor-text-editor {
        text-align: center;
    }

    .elementor-14 .elementor-element.elementor-element-a16c72e .elementor-image-box-img {
        margin-bottom: 15px;
    }
}

@media(max-width:999px) and (min-width:690px) {
    .elementor-14 .elementor-element.elementor-element-397291fa {
        width: 100%;
    }

    .elementor-14 .elementor-element.elementor-element-1c3801db {
        width: 100%;
    }

    .elementor-14 .elementor-element.elementor-element-03a66e3 {
        width: 100%;
    }

    .elementor-14 .elementor-element.elementor-element-f590acf {
        width: 100%;
    }

    .elementor-14 .elementor-element.elementor-element-335829c {
        width: 100%;
    }

    .elementor-14 .elementor-element.elementor-element-a8b8322 {
        width: 100%;
    }
}