/**
 *  - v1.7.5
 * 
 * Copyright (c) 2020
 * Licensed GPLv2+
 */

.cookie-notification {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999999;
    color: var(--color)
}

.cookie-notification a:hover {
    color: var(--colorHover)
}

@media (max-width: 479.98px) {
    .cookie-notification>div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (max-width: 689.98px) {
    .cookie-notification {
        right: 0
    }

    .cookie-notification>div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px
    }
}

@media (max-width: 689.98px) {
    .cookie-notification[data-type='type-1'] {
        background: var(--backgroundColor)
    }
}

@media (min-width: 690px) {
    .cookie-notification[data-type='type-1'] {
        padding: 0 25px 25px 25px
    }

    .cookie-notification[data-type='type-1'] .ct-cookies-content {
        margin-bottom: 15px;
        max-width: 90%
    }
}

.cookie-notification[data-type='type-1'] .container {
    position: relative
}

@media (max-width: 689.98px) {
    .cookie-notification[data-type='type-1'] .container {
        width: 88%;
        margin: 0 auto
    }
}

@media (min-width: 690px) {
    .cookie-notification[data-type='type-1'] .container {
        background: var(--backgroundColor);
        -webkit-box-shadow: 0px 5px 30px -5px rgba(34, 56, 101, 0.15);
        box-shadow: 0px 5px 30px -5px rgba(34, 56, 101, 0.15);
        padding: 25px 40px 25px 25px;
        border-radius: 3px;
        max-width: var(--maxWidth)
    }
}

.cookie-notification[data-type='type-2'] {
    right: 0;
    background: var(--backgroundColor)
}

@media (min-width: 690px) {
    .cookie-notification[data-type='type-2'] {
        padding: 15px 0
    }

    .cookie-notification[data-type='type-2'] .ct-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .cookie-notification[data-type='type-2'] .ct-accept {
        margin-left: 25px
    }
}

.cookie-notification[data-type='type-2'] .ct-close {
    display: none
}

.cookie-notification .ct-cookies-content {
    line-height: 1.4
}

.cookie-notification .ct-cookies-content a {
    text-decoration: underline;
    color: var(--colorHover)
}

@media (max-width: 479.98px) {
    .cookie-notification .ct-cookies-content {
        text-align: center;
        margin-bottom: 15px
    }
}

@media (max-width: 689.98px) {
    .cookie-notification .ct-cookies-content {
        font-size: 13px
    }
}

@media (min-width: 690px) {
    .cookie-notification .ct-cookies-content {
        font-size: 14px
    }
}

.cookie-notification .ct-accept {
    --buttonFontSize: 13px;
    --buttonMinHeight: 35px;
    --padding: 0 20px;
    --buttonShadow: none;
    --buttonTransform: none
}

@media (max-width: 479.98px) {
    .cookie-notification .ct-accept {
        width: 100%
    }
}

@media (min-width: 480px) and (max-width: 689.98px) {
    .cookie-notification .ct-accept {
        margin-left: 20px
    }
}

.cookie-notification .ct-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    color: inherit;
    cursor: pointer;
    background: transparent
}

.cookie-notification .ct-close:hover {
    opacity: 1
}

@media (max-width: 689.98px) {
    .cookie-notification .ct-close {
        display: none
    }
}

.cookie-notification.ct-fade-in-start,
.cookie-notification.ct-fade-in-end,
.cookie-notification.ct-fade-start,
.cookie-notification.ct-fade-end {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.cookie-notification.ct-fade-in-start {
    opacity: 0;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0)
}

.cookie-notification.ct-fade-end {
    opacity: 0;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0)
}