/**
 * Blocksy - v1.7.10
 * 
 * Copyright (c) 2020
 * Licensed GPLv2+
 */

@font-face {
    font-family: 'woo';
    src: url("../fonts/woo.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

.price {
    font-weight: 600;
    color: var(--color);
    margin-bottom: 0
}

.sale-price {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.sale-price del {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 80%;
    margin-left: 5px
}

.clear {
    clear: both
}

.woo-listing-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 35px
}

@media (max-width: 479.98px) {
    .woo-listing-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media (min-width: 480px) {
    .woo-listing-top {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.woo-listing-top .woocommerce-products-header,
.woo-listing-top .woocommerce-notices-wrapper {
    display: none
}

.woocommerce-result-count {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    --contentSpacing: 0
}

.woocommerce-ordering {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 479.98px) {
    .woocommerce-ordering {
        margin-top: 20px
    }
}

.woocommerce-ordering select,
.woocommerce-ordering .selectr-selected {
    --formFontSize: 11px;
    --formInputHeight: 18px;
    padding: 0 18px 0 0;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    background: transparent
}

.woocommerce-ordering .selectr-selected i {
    width: 16px
}

.woocommerce-ordering .selectr-options-container {
    --formFontSize: 13px;
    min-width: 200px
}

@media (max-width: 479.98px) {
    .woocommerce-ordering .selectr-options-container {
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
}

@media (min-width: 480px) {
    .woocommerce-ordering .selectr-options-container {
        left: initial;
        right: 0
    }
}

.woocommerce-breadcrumb {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    --linkInitialColor: var(--color)
}

.woocommerce-breadcrumb a {
    margin: 0 2px
}

.woocommerce-breadcrumb a:first-child {
    margin-left: 0
}

.single-product section>.woocommerce-breadcrumb {
    margin-bottom: 35px
}

.onsale {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: var(--badgeTop, 15px);
    left: var(--badgeLeft, 15px);
    z-index: 1;
    font-size: 13px;
    font-weight: 600;
    line-height: 0;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 10px !important;
    height: 26px;
    border-radius: 3px;
    color: var(--saleBadgeTextColor, #fff);
    background-color: var(--saleBadgeBackgroundColor)
}

.star-rating,
[class*="rating__stars"] {
    position: var(--starRatingPosition, relative);
    overflow: hidden;
    height: 1em;
    width: 7em;
    font-family: 'woo';
    font-size: 0.9em;
    line-height: 1;
    letter-spacing: 0.4em;
    color: var(--starRatingInitialColor)
}

.star-rating:before,
[class*="rating__stars"]:before {
    position: absolute;
    content: '\53\53\53\53\53';
    top: 0;
    left: 0;
    right: initial;
    color: var(--starRatingInactiveColor)
}

.star-rating span,
[class*="rating__stars"] span {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding-top: 1.5em
}

.star-rating span:before,
[class*="rating__stars"] span:before {
    position: absolute;
    content: '\53\53\53\53\53';
    top: 0;
    left: 0
}

.woocommerce-product-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.woocommerce-product-rating .star-rating {
    margin-right: 10px
}

.woocommerce-product-rating .woocommerce-review-link {
    font-size: 12px;
    --linkInitialColor: var(--color)
}

.comment-form-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.comment-form-rating label {
    --fontSize: 11px;
    --fontWeight: 500;
    text-transform: uppercase
}

.comment-form-rating .stars {
    color: var(--starRatingInitialColor, #fda256);
    font-size: 0.9em;
    margin: 0 0 0 10px !important
}

.comment-form-rating .stars span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.comment-form-rating .stars a {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    text-indent: -999em;
    text-decoration: none;
    color: currentColor
}

.comment-form-rating .stars a:not(:last-child) {
    margin-right: 7px
}

.comment-form-rating .stars a:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    font-family: 'woo';
    content: '\73';
    line-height: 1;
    text-indent: 0
}

.comment-form-rating .stars a:hover~a:before {
    content: '\73'
}

.comment-form-rating .stars:hover a:before {
    content: '\53'
}

.comment-form-rating .stars.selected a.active:before {
    content: '\53'
}

.comment-form-rating .stars.selected a.active~a:before {
    content: '\73'
}

.comment-form-rating .stars.selected a:not(.active):before {
    content: '\53'
}

[class*="add_to_cart_button"].loading {
    position: relative
}

[class*="add_to_cart_button"].loading:after {
    position: var(--loadingIndicatorPosition, static);
    font-family: 'woo' !important;
    content: '\e982' !important;
    width: 13px;
    height: 13px;
    font-size: 13px;
    line-height: 13px;
    margin-left: 10px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

table.shop_table {
    margin-bottom: 1.5em
}

table.shop_table th,
table.shop_table td {
    padding: 15px 20px
}

table.shop_table th {
    font-weight: 600
}

@media (max-width: 689.98px) {
    table.shop_table_responsive {
        border: 0
    }

    table.shop_table_responsive thead {
        display: none
    }

    table.shop_table_responsive tbody tr {
        border-bottom: 1px solid #e0e5eb
    }

    table.shop_table_responsive tbody tr:first-child {
        border-top: 1px solid #e0e5eb
    }

    table.shop_table_responsive tbody th {
        display: none
    }

    table.shop_table_responsive tbody td {
        display: block;
        text-align: right;
        border-top: none;
        border-bottom: none
    }

    table.shop_table_responsive tbody td:before {
        content: attr(data-title) ": ";
        font-weight: 600;
        float: left
    }

    table.shop_table_responsive tbody td.product-remove {
        padding-bottom: 0
    }

    table.shop_table_responsive tbody td.product-remove:before {
        display: none
    }

    table.shop_table_responsive tbody td.product-thumbnail {
        display: none
    }

    table.shop_table_responsive tbody td.product-quantity {
        text-align: right
    }

    table.shop_table_responsive tbody td.product-quantity:before {
        margin-top: 7px
    }

    table.shop_table_responsive tbody td dl.variation {
        text-align: left
    }
}

.woocommerce-info,
.woocommerce-error,
.woocommerce-message {
    position: relative;
    font-size: 16px;
    color: var(--color);
    padding: 18px 15px 18px 65px;
    margin-bottom: 45px;
    border-radius: 5px;
    clear: both;
    background: var(--backgroundColor);
    --linkInitialColor: var(--color)
}

.woocommerce-info .button,
.woocommerce-error .button,
.woocommerce-message .button {
    --buttonMinHeight: 45px;
    --padding: 5px 20px;
    margin: -9px -5px -9px 0
}

.woocommerce-info .button,
.woocommerce-info .showcoupon,
.woocommerce-error .button,
.woocommerce-error .showcoupon,
.woocommerce-message .button,
.woocommerce-message .showcoupon {
    float: right
}

.woocommerce-info:before,
.woocommerce-error:before,
.woocommerce-message:before {
    position: absolute;
    top: 21px;
    left: 25px;
    width: 20px;
    height: 20px;
    font-family: 'woo';
    content: '\e901';
    font-size: 20px;
    line-height: 20px;
    opacity: 0.9
}

.woocommerce-info:after,
.woocommerce-error:after,
.woocommerce-message:after {
    display: table;
    content: '';
    clear: both
}

.woocommerce-error {
    --listIndent: 0;
    --listItemSpacing: 0;
    --listStyleType: none
}

.woocommerce-error .button {
    --buttonInitialColor: #b92c3e;
    --buttonHoverColor: #9c2131
}

.form-row label {
    display: block;
    --fontWeight: 500
}

.form-row .required {
    color: red;
    font-weight: 700;
    text-decoration: none
}

.form-row textarea {
    display: block
}

.form-row:before,
.form-row:after {
    content: '';
    display: table
}

.form-row:after {
    clear: both
}

.form-row-wide {
    clear: both
}

@media (min-width: 690px) {
    .form-row-first {
        width: 48%;
        float: left;
        overflow: visible
    }
}

@media (min-width: 690px) {
    .form-row-last {
        width: 48%;
        float: right;
        overflow: visible
    }
}

.woocommerce-cart-form__contents .coupon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 689.98px) {
    .woocommerce-cart-form__contents .coupon {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: .8em
    }
}

@media (min-width: 690px) {
    .woocommerce-cart-form__contents .coupon {
        float: left
    }
}

.woocommerce-cart-form__contents .coupon label {
    display: none
}

@media (max-width: 689.98px) {
    .woocommerce-cart-form__contents .coupon input {
        width: 100%;
        margin-bottom: .8em
    }
}

@media (min-width: 690px) {
    .woocommerce-cart-form__contents .coupon input {
        width: 220px;
        margin-right: 20px
    }
}

.woocommerce-form-coupon-toggle .woocommerce-info {
    padding-left: 25px;
    z-index: 2
}

.woocommerce-form-coupon-toggle .woocommerce-info:before {
    display: none
}

.woocommerce-form-coupon-toggle .woocommerce-info .showcoupon {
    margin-left: auto;
    margin-right: 10px;
    --textDecoration: underline
}

.checkout_coupon {
    margin-bottom: 50px
}

.checkout_coupon p:first-child {
    display: none
}

.checkout_coupon .button {
    --buttonMinHeight: var(--formInputHeight)
}

@media (max-width: 689.98px) {
    .checkout_coupon .button {
        width: 100%
    }
}

@media (min-width: 690px) {
    .checkout_coupon .form-row {
        width: 49%
    }
}

.demo_store {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    padding: 13px 60px 13px 30px;
    font-size: 15px;
    color: var(--color);
    z-index: 19;
    background-color: var(--backgroundColor)
}

.demo_store:before {
    display: inline-block;
    font-family: 'woo';
    font-size: 17px;
    font-weight: 700;
    content: "\e901";
    margin-right: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media (max-width: 689.98px) {
    .demo_store:before {
        display: none !important
    }
}

.demo_store .woocommerce-store-notice__dismiss-link {
    position: absolute;
    top: calc(50% - 15px);
    right: 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -99999px
}

.demo_store .woocommerce-store-notice__dismiss-link:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    content: 'Ã—';
    width: 30px;
    height: 30px;
    font-size: 17px;
    font-weight: normal;
    line-height: 29px;
    text-align: center;
    color: var(--color);
    text-indent: 0px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.07)
}

.demo_store[data-position="top"] {
    top: 0
}

.demo_store[data-position="bottom"] {
    bottom: 0
}

dl.variation {
    --descListIndent: 0;
    --descListSpacing: 0.3em;
    margin-top: calc(var(--descListSpacing) * 2)
}

div.quantity {
    position: relative;
    display: inline-block;
    width: var(--quantityWidth, 110px);
    height: var(--quantityHeight, 55px)
}

div.quantity input[type="number"] {
    max-width: initial;
    height: inherit;
    padding: 0 calc(24.5% + 7px) 0 7px !important;
    border-radius: 3px !important;
    border: 1px solid var(--buttonInitialColor);
    border-right: 0;
    background-image: none;
    --formFontSize: 16px;
    --formInputHeight: 100%;
    font-weight: 500;
    text-align: center;
    -moz-appearance: textfield
}

div.quantity input[type="number"]::-webkit-inner-spin-button,
div.quantity input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none
}

div.quantity input[type="number"]:focus {
    border-color: var(--buttonInitialColor);
    -webkit-box-shadow: 0 0 0 1px var(--buttonInitialColor);
    box-shadow: 0 0 0 1px var(--buttonInitialColor)
}

div.quantity .ct-increase,
div.quantity .ct-decrease {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 0;
    width: 24.5%;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--buttonInitialColor);
    -webkit-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

div.quantity .ct-increase:before,
div.quantity .ct-decrease:before {
    font-family: 'woo';
    content: '\e908';
    font-size: 8px;
    font-weight: normal;
    line-height: normal
}

div.quantity .ct-increase:hover,
div.quantity .ct-decrease:hover {
    background: var(--buttonHoverColor)
}

div.quantity .ct-increase {
    top: 0;
    height: calc(50% - 1px);
    border-top-right-radius: 3px
}

div.quantity .ct-decrease {
    bottom: 0;
    height: 50%;
    border-bottom-right-radius: 3px
}

div.quantity .ct-decrease:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.payment_methods {
    --listIndent: 0;
    --listItemSpacing: 0;
    --listStyleType: none
}

.payment_methods>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    border: 1px solid rgba(224, 229, 235, 0.8)
}

.payment_methods>li:not(.woocommerce-notice) {
    padding: 0 25px
}

.payment_methods>li:not(:last-child) {
    border-bottom: none
}

.payment_methods>li input[type="radio"] {
    --top: 1px;
    margin-right: 0.8em
}

.payment_methods>li input[type="radio"][style*="none"]+label {
    min-width: 100%
}

.payment_methods>li>label {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    height: 55px;
    cursor: pointer;
    --fontSize: 15px;
    --fontWeight: 600
}

.payment_methods>li>label img {
    max-height: 35px
}

.payment_methods>li>label img:first-of-type {
    margin-left: auto !important
}

.payment_methods>li>label .about_paypal {
    display: none
}

.payment_methods>li .payment_box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 100%;
    padding: 25px;
    margin: 0 -25px;
    border-top: 1px solid rgba(224, 229, 235, 0.8)
}

.payment_methods>li .payment_box p {
    font-size: 15px;
    line-height: 1.5
}

.payment_methods>li .payment_box p:last-child {
    margin-bottom: 0
}

.payment_methods>li .payment_box fieldset {
    padding: 0;
    border: none
}

.payment_methods>li.woocommerce-notice {
    border: none
}

ul.order_details {
    --listIndent: 0;
    --listItemSpacing: 0;
    --listStyleType: none;
    position: relative;
    margin-bottom: 50px;
    background: rgba(237, 239, 242, 0.7)
}

ul.order_details:before,
ul.order_details:after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    width: 100%;
    height: 16px;
    background: -webkit-linear-gradient(transparent 0, transparent 0), -webkit-linear-gradient(135deg, rgba(237, 239, 242, 0.7) 33.33%, transparent 33.33%), -webkit-linear-gradient(45deg, rgba(237, 239, 242, 0.7) 33.33%, transparent 33.33%);
    background-size: 0 100%, 16px 16px, 16px 16px
}

ul.order_details:before {
    top: -16px
}

ul.order_details:after {
    bottom: -16px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

ul.order_details li {
    padding: 1em 1.5em
}

ul.order_details li:not(:last-child) {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.05)
}

ul.order_details li strong {
    display: block
}

.wc-item-meta {
    --listIndent: 0;
    --listItemSpacing: 0;
    --listStyleType: none;
    font-size: 15px;
    margin-top: 5px
}

.wc-item-meta li p {
    --contentSpacing: 0;
    display: inline-block
}

.woocommerce-order-details tfoot th,
.woocommerce-order-details tfoot td,
.woocommerce-order-downloads tfoot th,
.woocommerce-order-downloads tfoot td {
    background: rgba(237, 239, 242, 0.4)
}

.woocommerce-order-details tfoot td,
.woocommerce-order-downloads tfoot td {
    font-weight: 600
}

.woocommerce-order-details>h2,
.woocommerce-order-downloads>h2,
.woocommerce-customer-details>h2 {
    --fontSize: 17px;
    margin-bottom: 0;
    padding: 20px;
    border: 1px solid #e0e5eb;
    border-bottom: 0;
    background: rgba(237, 239, 242, 0.4)
}

.woocommerce-customer-details address {
    padding: 20px;
    border: 1px solid #e0e5eb;
    --contentSpacing: 0
}

td.download-file .button,
td.woocommerce-orders-table__cell-order-actions .button {
    width: 100%
}

[data-products] .products {
    display: grid;
    grid-column-gap: var(--cardsGap)
}

@media (min-width: 690px) and (max-width: 999.98px) {
    [data-products] .products {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr))
    }
}

@media (min-width: 1000px) {
    [data-products] .columns-2 {
        grid-template-columns: repeat(2, 1fr)
    }

    [data-products] .columns-3 {
        grid-template-columns: repeat(3, 1fr)
    }

    [data-products] .columns-4 {
        grid-template-columns: repeat(4, 1fr)
    }

    [data-products] .columns-5 {
        grid-template-columns: repeat(5, 1fr)
    }

    [data-products] .columns-6 {
        grid-template-columns: repeat(6, 1fr)
    }
}

.products {
    --listIndent: 0;
    --listItemSpacing: 0;
    --listStyleType: none
}

[data-products] .product {
    --contentSpacing: 0
}

[data-products] .ct-open-quick-view {
    top: 15px;
    right: 15px
}

[data-products] .woocommerce-loop-product__title,
[data-products] .woocommerce-loop-category__title {
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

[data-products] .woocommerce-loop-category__title {
    margin-bottom: 25px
}

[data-products] .product-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 13px;
    margin-top: 5px
}

[data-products] .product-categories li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

[data-products] .product-categories li:not(:last-child):after {
    content: '/';
    font-size: 10px;
    opacity: 0.7;
    margin-left: 3px;
    margin-right: 3px
}

[data-products] .add_to_cart_button.added {
    --display: none
}

[data-products] .product:hover .ct-open-quick-view {
    opacity: 1
}

[data-products] .product:hover .woocommerce-loop-product__title,
[data-products] .product:hover .woocommerce-loop-category__title {
    color: var(--linkHoverColor)
}

[data-products="type-1"] .products {
    grid-row-gap: calc(var(--cardsGap) + 20px)
}

[data-products="type-1"] .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

[data-products="type-1"] .woocommerce-loop-product__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 100%
}

[data-products="type-1"] .ct-image-container {
    border-radius: var(--borderRadius);
    margin-bottom: 25px
}

[data-products="type-1"] .woocommerce-loop-product__title,
[data-products="type-1"] .woocommerce-loop-category__title {
    margin: 0
}

[data-products="type-1"] .price {
    margin-top: 5px
}

[data-products="type-1"] .star-rating {
    margin-bottom: 15px
}

[data-products="type-1"] .ct-woo-card-actions {
    padding-top: 20px;
    margin-top: auto
}

[data-products="type-1"][data-alignment="center"] .product {
    text-align: center
}

[data-products="type-1"][data-alignment="center"] .product .sale-price,
[data-products="type-1"][data-alignment="center"] .product .product-categories {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

[data-products="type-1"][data-alignment="center"] .product .star-rating {
    margin-left: auto;
    margin-right: auto
}

[data-products="type-1"][data-alignment="right"] .product {
    text-align: right
}

[data-products="type-1"][data-alignment="right"] .product .sale-price,
[data-products="type-1"][data-alignment="right"] .product .product-categories {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

[data-products="type-1"][data-alignment="right"] .product .star-rating {
    margin-left: auto
}

[data-products="type-2"] .products {
    grid-row-gap: var(--cardsGap)
}

[data-products="type-2"] .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    background: var(--backgroundColor)
}

[data-products="type-2"] .product>*:nth-last-child(2) {
    margin-bottom: auto
}

[data-products="type-2"] figure {
    position: relative;
    margin-bottom: 25px !important
}

[data-products="type-2"] .star-rating {
    margin: 5px auto 0 auto
}

[data-products="type-2"] .woocommerce-loop-product__title,
[data-products="type-2"] .product-categories {
    padding: 0 30px
}

[data-products="type-2"] .product-categories {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

[data-products="type-2"] .ct-woo-card-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.05)
}

[data-products="type-2"] .ct-woo-card-actions>* {
    width: 50%;
    min-height: 55px
}

[data-products="type-2"] .ct-woo-card-actions .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 5px;
    font-size: 14px
}

[data-products="type-2"] .ct-woo-card-actions .price:after {
    position: absolute;
    content: '';
    right: 0;
    width: 1px;
    height: 30px;
    top: calc(50% - 15px);
    background: rgba(0, 0, 0, 0.05)
}

[data-products="type-2"] .ct-woo-card-actions a {
    --padding: 5px;
    --buttonFontFamily: var(--fontFamily);
    --buttonFontSize: 14px;
    --buttonInitialColor: transparent;
    --buttonHoverColor: transparent;
    --buttonShadow: none;
    --buttonTransform: none;
    --borderRadius: 0
}

[data-products="type-2"] .product:hover .star-rating {
    opacity: 1
}

.product:not(.thumbs-left) .product-entry-wrapper .onsale {
    top: 20px;
    left: 20px
}

.product.thumbs-left .product-entry-wrapper .onsale {
    top: 20px
}

@media (min-width: 690px) and (max-width: 999.98px) {
    .product.thumbs-left .product-entry-wrapper .onsale {
        left: calc(25% + 22px)
    }
}

@media (min-width: 1000px) {
    .product.thumbs-left .product-entry-wrapper .onsale {
        left: calc(var(--productGalleryWidth) * 0.25 + 22px)
    }
}

.product-entry-wrapper {
    position: relative
}

@media (min-width: 1000px) {
    .product-entry-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 690px) and (max-width: 999.98px) {
    .product-entry-wrapper .ct-product-view {
        width: 100%
    }
}

@media (min-width: 1000px) {
    .product-entry-wrapper .ct-product-view {
        width: var(--productGalleryWidth)
    }
}

@media (min-width: 690px) and (max-width: 999.98px) {
    .product-entry-wrapper .entry-summary {
        width: 100%
    }
}

@media (min-width: 1000px) {
    .product-entry-wrapper .entry-summary {
        padding-left: 40px;
        width: calc(100% - var(--productGalleryWidth))
    }
}

@media (max-width: 999.98px) {
    .ct-product-view {
        margin-bottom: 3em
    }
}

.ct-product-view .flexy-pills[data-type="thumbs"] {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.ct-product-view .flexy-pills[data-type="thumbs"] a {
    width: 22.75%;
    margin-top: 3%;
    margin-right: 3%;
    opacity: 0.8;
    -webkit-transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.ct-product-view .flexy-pills[data-type="thumbs"] a:nth-child(4n) {
    margin-right: 0
}

.ct-product-view .flexy-pills[data-type="thumbs"] a:hover {
    opacity: 1
}

@media (min-width: 690px) {
    .product.thumbs-left .flexy-container {
        position: relative;
        overflow: hidden
    }

    .product.thumbs-left .flexy {
        width: calc(75% - 0.25em);
        margin-left: calc(25% + 0.25em)
    }

    .product.thumbs-left .flexy-pills[data-type="thumbs"] {
        display: initial;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(25% + 0.25em);
        padding-right: 1em;
        overflow-y: scroll
    }

    .product.thumbs-left .flexy-pills[data-type="thumbs"] a {
        width: 100%;
        margin-top: 0
    }

    .product.thumbs-left .flexy-pills[data-type="thumbs"] a:not(:last-child) {
        margin-bottom: 1em
    }
}

.entry-summary>.product_title {
    margin-bottom: 10px
}

.entry-summary>.woocommerce-product-rating {
    margin-bottom: 10px
}

.entry-summary .price {
    font-size: 20px
}

.entry-summary>.price {
    margin-bottom: 28px
}

.entry-summary>.stock {
    margin-top: 2em
}

@media (min-width: 1000px) {
    .sticky-summary .entry-summary {
        -ms-flex-item-align: start;
        align-self: flex-start;
        position: -webkit-sticky;
        position: sticky;
        top: 50px
    }
}

.entry-summary>.product_meta {
    margin-top: 40px;
    padding-top: 40px;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-top: 1px solid rgba(224, 229, 235, 0.8)
}

.entry-summary>.product_meta>span {
    font-weight: 700;
    display: block
}

.entry-summary>.product_meta>span:not(:last-child) {
    margin-bottom: 5px
}

.entry-summary>.product_meta>span>* {
    opacity: 0.7;
    font-weight: 500;
    --linkInitialColor: var(--color)
}

.entry-summary>.product_meta>span>a:hover {
    opacity: 1
}

.product>.woocommerce-tabs {
    padding-top: 60px
}

.woocommerce-tabs .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 55px;
    --listIndent: 0;
    --listItemSpacing: 0;
    --listStyleType: none
}

.woocommerce-tabs .tabs:before,
.woocommerce-tabs .tabs:after {
    content: '' !important;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative !important;
    border: none;
    width: auto;
    height: 1px;
    background: rgba(224, 229, 235, 0.8)
}

@media (max-width: 689.98px) {

    .woocommerce-tabs .tabs:before,
    .woocommerce-tabs .tabs:after {
        display: none
    }
}

.woocommerce-tabs .tabs li {
    margin-top: 0;
    border: 1px solid rgba(224, 229, 235, 0.8)
}

@media (max-width: 689.98px) {
    .woocommerce-tabs .tabs li {
        width: 100%
    }

    .woocommerce-tabs .tabs li:not(:first-child) {
        margin-top: -1px
    }
}

@media (min-width: 690px) {
    .woocommerce-tabs .tabs li {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin-right: -1px
    }
}

.woocommerce-tabs .tabs li.active,
.woocommerce-tabs .tabs li:hover {
    background: rgba(242, 244, 247, 0.7);
    border-bottom-color: rgba(224, 229, 235, 0.8)
}

.woocommerce-tabs .tabs li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    --linkInitialColor: var(--color);
    --linkHoverColor: var(--color)
}

.woocommerce-tabs .panel>h2:first-child {
    --fontSize: 20px;
    margin-bottom: 30px
}

.woocommerce-product-attributes {
    font-size: 15px;
    --contentSpacing: 0
}

.woocommerce-product-attributes th {
    font-weight: 500;
    text-align: initial;
    width: 250px
}

.woocommerce-product-attributes tr:nth-child(even) th,
.woocommerce-product-attributes tr:nth-child(even) td {
    background: rgba(242, 244, 247, 0.5)
}

@media (max-width: 999.98px) {
    .woocommerce-Reviews #comments {
        margin-bottom: 40px
    }
}

@media (min-width: 1000px) {
    .woocommerce-Reviews {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .woocommerce-Reviews #comments,
    .woocommerce-Reviews #review_form_wrapper {
        width: 47%
    }
}

.woocommerce-Reviews h2 {
    --fontSize: 20px;
    margin-bottom: 30px
}

.woocommerce-Reviews .commentlist {
    --listIndent: 0;
    --listItemSpacing: 0;
    --listStyleType: none;
    border-top: 1px solid rgba(224, 229, 235, 0.8)
}

.woocommerce-Reviews .commentlist li {
    margin-bottom: 0
}

.woocommerce-Reviews .commentlist li:not(:last-child) .comment_container {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(224, 229, 235, 0.8)
}

.woocommerce-Reviews .comment_container {
    position: relative;
    padding-top: 40px
}

.woocommerce-Reviews .avatar {
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%
}

.woocommerce-Reviews .comment-text {
    padding-left: 70px
}

.woocommerce-Reviews .comment-text .description>* {
    margin: 20px 0 0 0
}

.woocommerce-Reviews .comment-text .description>*:first-child {
    margin-top: 0
}

@media (max-width: 479.98px) {
    .woocommerce-Reviews .star-rating {
        margin-bottom: 7px
    }
}

@media (min-width: 480px) {
    .woocommerce-Reviews .star-rating {
        float: right;
        margin-top: 3px
    }
}

.woocommerce-Reviews .meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 20px
}

.woocommerce-Reviews .meta span {
    display: inline-block;
    text-indent: -99999px;
    margin: 0 10px
}

.woocommerce-Reviews .meta span:before {
    font-size: 10px;
    float: left;
    content: '/';
    text-indent: 1px
}

.woocommerce-Reviews .meta time {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase
}

.woocommerce-Reviews>.clear {
    display: none
}

#review_form {
    position: -webkit-sticky;
    position: sticky;
    top: 70px
}

#review_form .comment-reply-title {
    color: var(--paletteColor4)
}

#review_form #commentform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

#review_form #commentform>* {
    margin: 0 0 15px 0
}

#review_form #commentform>*.form-submit {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
    margin-bottom: 0
}

#review_form #commentform .comment-form-cookies-consent {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
    margin-bottom: 20px
}

#review_form .comment-form-rating label {
    margin: 0
}

#review_form .comment-form-rating select {
    display: none;
    visibility: hidden
}

#review_form .comment-form-author,
#review_form .comment-form-email,
#review_form .comment-form-comment {
    position: relative
}

#review_form .comment-form-author>label,
#review_form .comment-form-email>label,
#review_form .comment-form-comment>label {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    height: 45px;
    padding-left: 17px;
    color: rgba(44, 62, 80, 0.5);
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

#review_form .comment-form-author>textarea:focus+label,
#review_form .comment-form-author>input[type="email"]:focus+label,
#review_form .comment-form-author>input[type="text"]:focus+label,
#review_form .comment-form-email>textarea:focus+label,
#review_form .comment-form-email>input[type="email"]:focus+label,
#review_form .comment-form-email>input[type="text"]:focus+label,
#review_form .comment-form-comment>textarea:focus+label,
#review_form .comment-form-comment>input[type="email"]:focus+label,
#review_form .comment-form-comment>input[type="text"]:focus+label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0)
}

#review_form .comment-form-author>textarea:valid+label,
#review_form .comment-form-author>input[type="email"]:valid+label,
#review_form .comment-form-author>input[type="text"]:valid+label,
#review_form .comment-form-email>textarea:valid+label,
#review_form .comment-form-email>input[type="email"]:valid+label,
#review_form .comment-form-email>input[type="text"]:valid+label,
#review_form .comment-form-comment>textarea:valid+label,
#review_form .comment-form-comment>input[type="email"]:valid+label,
#review_form .comment-form-comment>input[type="text"]:valid+label {
    display: none
}

section.related,
section.upsells {
    display: var(--visibility);
    margin-top: 50px
}

section.related>h2,
section.upsells>h2 {
    --fontSize: 20px;
    margin-bottom: 30px
}

.product[data-structure="wide"]~.related,
.product[data-structure="wide"]~.upsells {
    padding-top: 40px;
    border-top: 1px solid rgba(224, 229, 235, 0.8)
}

.entry-summary form.cart {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid rgba(224, 229, 235, 0.8)
}

.entry-summary form.cart:before,
.entry-summary form.cart:after {
    content: '';
    display: table
}

.entry-summary form.cart:after {
    clear: both
}

.entry-summary .added_to_cart,
.entry-summary .single_add_to_cart_button {
    --buttonMinHeight: 55px
}

.entry-summary .added_to_cart {
    --buttonTextInitialColor: var(--color);
    --buttonTextHoverColor: var(--color);
    --buttonInitialColor: rgba(224, 229, 235, 0.6);
    --buttonHoverColor: rgba(224, 229, 235, 1)
}

.ct-cart-actions {
    display: var(--display, grid);
    grid-template-columns: 110px 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto
}

.ct-cart-actions>* {
    grid-column: var(--gridColumn, 1/-1)
}

.ct-cart-actions .quantity {
    --gridColumn: 1;
    grid-row: 1
}

.ct-cart-actions .single_add_to_cart_button {
    --gridColumn: span 2;
    grid-row: 1
}

@media (min-width: 480px) {
    .ct-cart-actions .single_add_to_cart_button.added {
        --gridColumn: span 1
    }
}

@media (max-width: 479.98px) {
    .ct-cart-actions .added_to_cart {
        grid-row: 2
    }
}

@media (min-width: 480px) {
    .ct-cart-actions .added_to_cart {
        --gridColumn: span 1;
        grid-row: 1
    }
}

form.grouped_form table {
    margin: 0;
    border: none
}

@media (max-width: 479.98px) {
    form.grouped_form tr {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-auto-rows: auto;
        grid-column-gap: 20px;
        text-align: left;
        margin-bottom: 1.8em;
        padding-bottom: 1.8em;
        border-bottom: 1px dashed rgba(224, 229, 235, 0.8)
    }

    form.grouped_form tr td {
        padding: 0
    }
}

form.grouped_form td {
    padding: 0 0 1.8em 0;
    border: none
}

@media (max-width: 479.98px) {
    form.grouped_form .woocommerce-grouped-product-list-item__quantity {
        grid-column: 2;
        grid-row: 1 / span 2
    }
}

@media (max-width: 479.98px) {
    form.grouped_form .woocommerce-grouped-product-list-item__label {
        grid-column: 1;
        grid-row: 1
    }
}

@media (min-width: 480px) {
    form.grouped_form .woocommerce-grouped-product-list-item__label {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px
    }
}

form.grouped_form .woocommerce-grouped-product-list-item__label label {
    --fontSize: 16px;
    --fontWeight: 500;
    --linkInitialColor: var(--color)
}

form.grouped_form .woocommerce-grouped-product-list-item__price {
    font-weight: 500
}

@media (min-width: 480px) {
    form.grouped_form .woocommerce-grouped-product-list-item__price {
        text-align: right
    }

    form.grouped_form .woocommerce-grouped-product-list-item__price del {
        -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
        order: initial;
        margin: 0 5px 0 0
    }
}

@media (max-width: 479.98px) {

    form.grouped_form .added_to_cart,
    form.grouped_form .single_add_to_cart_button {
        width: 100%
    }
}

@media (min-width: 480px) {

    form.grouped_form .added_to_cart,
    form.grouped_form .single_add_to_cart_button {
        float: left;
        width: calc(50% - 7px)
    }
}

@media (max-width: 479.98px) {
    form.grouped_form .added_to_cart {
        margin-top: 1em;
        margin-left: 0
    }
}

@media (min-width: 480px) {
    form.grouped_form .single_add_to_cart_button {
        margin-right: 14px
    }
}

form.variations_form table.variations {
    border: none;
    margin-bottom: 40px
}

form.variations_form table.variations tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

form.variations_form table.variations tr:not(:last-child) {
    margin-bottom: 1.5em
}

form.variations_form table.variations td {
    padding: 0;
    border: none
}

form.variations_form table.variations label {
    display: block;
    margin-bottom: 10px;
    --fontWeight: 500
}

form.variations_form table.variations .reset_variations {
    margin-top: 1em;
    font-size: 15px;
    line-height: normal;
    --linkInitialColor: var(--color);
    display: none
}

form.variations_form table.variations .reset_variations[style*="visibility: hidden"] {
    display: none !important
}

form.variations_form table.variations .reset_variations[style*="visibility: visible"] {
    display: inline-block !important
}

form.variations_form table.variations .reset_variations:before {
    font-family: 'woo';
    content: '\e982';
    margin-right: 5px;
    font-size: 12px
}

form.variations_form .single_variation {
    display: none
}

form.variations_form .single_variation,
form.variations_form .wc-no-matching-variations {
    margin-bottom: 40px
}

.woocommerce-cart-form table {
    margin-bottom: 40px;
    font-size: 15px
}

.woocommerce-cart-form table .product-thumbnail {
    vertical-align: top;
    width: 10%;
    min-width: 60px
}

@media (min-width: 690px) and (max-width: 999.98px) {
    .woocommerce-cart-form table .product-thumbnail {
        display: none
    }
}

.woocommerce-cart-form table .product-thumbnail img {
    width: 100px
}

.woocommerce-cart-form table .product-name a {
    font-size: 17px;
    font-weight: 600;
    --linkInitialColor: var(--color)
}

@media (min-width: 690px) {
    .woocommerce-cart-form table .product-quantity {
        width: 1%;
        text-align: center
    }
}

.woocommerce-cart-form table .product-quantity .quantity {
    --quantityWidth: 70px;
    --quantityHeight: 40px
}

.woocommerce-cart-form table .product-quantity .quantity input {
    --formFontSize: 13px
}

@media (min-width: 690px) {
    .woocommerce-cart-form table .product-remove {
        width: 1%
    }
}

.woocommerce-cart-form table .product-remove a.remove {
    --linkInitialColor: var(--color);
    font-size: 20px;
    opacity: 0.5;
    -webkit-transition: color 0.2s ease,
        opacity 0.2s ease;
    transition: color 0.2s ease,
        opacity 0.2s ease
}

.woocommerce-cart-form table .product-remove a.remove:hover {
    color: red;
    opacity: 1
}

@media (min-width: 690px) {

    .woocommerce-cart-form table .product-price,
    .woocommerce-cart-form table .product-subtotal {
        width: 1%;
        text-align: center
    }
}

@media (min-width: 1000px) {

    .woocommerce-cart-form table .product-price,
    .woocommerce-cart-form table .product-subtotal {
        min-width: 170px
    }
}

.woocommerce-cart-form table .product-subtotal {
    font-weight: 600
}

.woocommerce-cart-form table .actions {
    padding: 20px;
    text-align: right
}

.woocommerce-cart-form table .actions:before {
    display: none
}

.woocommerce-cart-form table .actions .button {
    --buttonMinHeight: var(--formInputHeight)
}

@media (max-width: 689.98px) {
    .woocommerce-cart-form table .actions .button {
        width: 100%
    }
}

.cart-collaterals {
    display: grid
}

@media (min-width: 1000px) {
    .cart-collaterals {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px
    }
}

.cart-collaterals h2 {
    --fontSize: 20px;
    margin-bottom: 20px;
    text-transform: capitalize
}

.cart-collaterals .cart_totals {
    -ms-flex-item-align: start;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 50px
}

@media (min-width: 1000px) {
    .cart-collaterals .cart_totals {
        grid-column: 2
    }
}

.cart-collaterals .cart_totals table {
    margin-bottom: 40px
}

.cart-collaterals .cart_totals table th {
    width: 35%
}

.cart-collaterals .cart_totals table th {
    vertical-align: top;
    line-height: 2em;
    border-right: 0
}

.cart-collaterals .cart_totals .shipping-calculator-form,
.cart-collaterals .cart_totals .woocommerce-shipping-calculator {
    margin-top: 10px
}

.cart-collaterals .cart_totals .checkout-button {
    --display: flex;
    text-transform: capitalize
}

@media (max-width: 999.98px) {
    .cart-collaterals .cross-sells {
        margin-bottom: 50px
    }
}

@media (min-width: 1000px) {
    .cart-collaterals .cross-sells {
        grid-column: 1
    }
}

.cart-collaterals .cross-sells .add_to_cart_button.added {
    --display: initial
}

form.woocommerce-checkout {
    display: grid
}

@media (max-width: 999.98px) {
    form.woocommerce-checkout {
        grid-row-gap: 40px
    }
}

@media (min-width: 1000px) {
    form.woocommerce-checkout {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 45px
    }
}

form.woocommerce-checkout h3 {
    --fontSize: 17px
}

#customer_details .col-2 {
    margin-top: 40px
}

#customer_details .col-2 .form-row:last-child {
    --contentSpacing: 0
}

#ship-to-different-address label {
    --fontSize: 15px;
    --fontWeight: 600
}

.ct-order-review {
    -ms-flex-item-align: start;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    border: 2px solid rgba(224, 229, 235, 0.8)
}

@media (max-width: 689.98px) {
    .ct-order-review {
        padding: 25px
    }
}

@media (min-width: 690px) {
    .ct-order-review {
        padding: 45px
    }
}

.ct-order-review .shop_table {
    font-size: 15px;
    border: 0
}

.ct-order-review .shop_table thead th {
    border-top: none
}

.ct-order-review .shop_table th,
.ct-order-review .shop_table td {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none
}

.ct-order-review .shop_table .product-name,
.ct-order-review .shop_table tfoot th {
    text-align: left
}

.ct-order-review .shop_table .product-total,
.ct-order-review .shop_table tfoot td {
    text-align: right
}

.ct-order-review .shop_table .product-total {
    vertical-align: top
}

.ct-order-review .shop_table tfoot tr:last-child th,
.ct-order-review .shop_table tfoot tr:last-child td {
    border-bottom: none
}

.woocommerce-NoticeGroup-checkout {
    grid-column: 1/-1
}

.woocommerce-checkout-payment {
    margin-top: 40px
}

@media (max-width: 689.98px) {
    .woocommerce-checkout-payment {
        position: relative;
        margin-left: calc(26px * -1);
        margin-right: calc(26px * -1)
    }
}

.woocommerce-checkout-payment .place-order {
    margin-top: 30px
}

@media (max-width: 689.98px) {
    .woocommerce-checkout-payment .place-order {
        padding: 0 25px
    }
}

.woocommerce-checkout-payment .place-order .woocommerce-terms-and-conditions-wrapper {
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 30px
}

.woocommerce-checkout-payment .place-order button[type="submit"] {
    width: 100%;
    text-align: center
}

.ct-woo-unauthorized>h2 {
    display: none
}

.ct-woo-unauthorized>.woocommerce-form-login,
.ct-woo-unauthorized>.woocommerce-ResetPassword {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto
}

.ct-woo-unauthorized>.woocommerce-form-login button[type="submit"],
.ct-woo-unauthorized>.woocommerce-ResetPassword button[type="submit"] {
    width: 100%
}

.ct-woo-unauthorized label {
    --fontSize: 14px;
    --fontWeight: 500
}

.ct-woo-unauthorized .woocommerce-form-login__rememberme {
    margin-bottom: var(--contentSpacing)
}

.ct-woo-unauthorized .woocommerce-LostPassword {
    font-size: 14px;
    margin: 0
}

.ct-woo-unauthorized .woocommerce-ResetPassword .form-row-first {
    width: 100%
}

.ct-woo-unauthorized .col2-set {
    display: grid
}

@media (min-width: 690px) {
    .ct-woo-unauthorized .col2-set {
        grid-template-columns: 1fr 1fr
    }
}

.ct-woo-unauthorized .col2-set h2 {
    --fontSize: 20px;
    margin-top: 0;
    margin-bottom: 20px
}

@media (max-width: 689.98px) {
    .ct-woo-unauthorized .col2-set>*:first-child {
        padding-bottom: 30px;
        border-bottom: 1px dashed rgba(224, 229, 235, 0.8)
    }

    .ct-woo-unauthorized .col2-set>*:last-child {
        padding-top: 30px
    }
}

@media (min-width: 690px) {
    .ct-woo-unauthorized .col2-set>*:first-child {
        padding-right: 40px;
        border-right: 1px dashed rgba(224, 229, 235, 0.8)
    }

    .ct-woo-unauthorized .col2-set>*:last-child {
        padding-left: 40px
    }
}

@media (min-width: 690px) {
    [data-structure*="wide"] .ct-woo-unauthorized .col2-set {
        max-width: 900px;
        margin: 0 auto
    }
}

.ct-woo-account {
    display: grid
}

@media (max-width: 689.98px) {
    .ct-woo-account {
        grid-row-gap: 30px
    }
}

@media (min-width: 690px) {
    .ct-woo-account {
        grid-template-columns: 20% 1fr;
        grid-column-gap: 30px
    }
}

.woocommerce-MyAccount-navigation ul {
    --listIndent: 0;
    --listItemSpacing: 0;
    --listStyleType: none;
    font-size: 15px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.01)
}

.woocommerce-MyAccount-navigation ul li:not(:last-child) a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.woocommerce-MyAccount-navigation ul li:hover a,
.woocommerce-MyAccount-navigation ul li.is-active a {
    color: #fff;
    font-weight: 600;
    background: var(--paletteColor1)
}

.woocommerce-MyAccount-navigation ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    font-weight: 500;
    color: var(--paletteColor3)
}

.woocommerce-MyAccount-navigation ul li a:before {
    font-family: 'woo';
    font-size: 16px;
    font-weight: normal;
    content: '\e902';
    width: 20px;
    margin-right: 15px
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link--dashboard a:before {
    content: '\e903'
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link--orders a:before {
    content: '\e906'
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link--downloads a:before {
    content: '\e900'
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link--edit-address a:before {
    content: '\e904'
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link--edit-account a:before {
    content: '\e907'
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link--customer-logout a:before {
    content: '\e905'
}

.woocommerce-MyAccount-content>h2 {
    margin-top: 0
}

.woocommerce-MyAccount-content h3 {
    --fontSize: 20px
}

.woocommerce-MyAccount-content em {
    font-size: 13px;
    opacity: 0.8
}

.woocommerce-MyAccount-content address {
    font-size: 15px;
    opacity: 0.8
}

.woocommerce-MyAccount-content form .woocommerce-Button {
    margin-top: 30px
}

@media (min-width: 690px) {
    .woocommerce-MyAccount-content .woocommerce-Addresses {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .woocommerce-MyAccount-content .woocommerce-Addresses>* {
        width: 49%
    }
}

.woocommerce-MyAccount-content .woocommerce-Addresses>* {
    padding: 20px;
    border-radius: 5px;
    border: 1px dashed rgba(224, 229, 235, 0.8)
}

@media (max-width: 689.98px) {
    .woocommerce-MyAccount-content .woocommerce-Addresses>*:first-child {
        margin-bottom: 30px
    }
}

.woocommerce-MyAccount-content .woocommerce-Addresses .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px
}

.woocommerce-MyAccount-content .woocommerce-Addresses .title h3,
.woocommerce-MyAccount-content .woocommerce-Addresses .title a {
    margin: 0
}

.woocommerce-MyAccount-content .woocommerce-Addresses .title h3 {
    --fontSize: 17px;
    --fontWeight: 600
}

.woocommerce div.product.elementor .ct-cart-actions {
    grid-column-gap: 0
}

.woocommerce div.product.elementor .ct-cart-actions .added_to_cart {
    margin-left: 10px
}

.woocommerce div.product.elementor .woocommerce-tabs .panel {
    border-top: none !important
}

.woocommerce div.product.elementor form.cart table.variations tr {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial
}

.woocommerce div.product.elementor form.cart table.variations td.value .selectr-container {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--variation-select-width) !important
}

.woocommerce div.product.elementor form.cart table.variations td.value:before,
.woocommerce div.product.elementor form.cart table.variations td.value select {
    opacity: 0;
    height: var(--formInputHeight) !important
}

.woocommerce div.product.elementor form.cart table.variations label {
    margin-bottom: 0
}

.wc-block-review-list-item__rating__stars {
    font-family: 'woo' !important
}

.wc-block-review-list {
    margin-top: 0 !important;
    padding-left: 0
}

.wc-block-review-list li {
    margin-bottom: 48px
}

.wc-block-review-list li:last-child {
    margin-bottom: 0
}

.wc-block-review-list+.wc-block-load-more {
    margin-top: 30px
}

.wc-block-grid .sale-price {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.wc-block-product-search__label {
    display: block;
    margin-bottom: 10px
}

.wc-block-product-search .wc-block-product-search__field {
    padding: var(--formPadding, 0 15px)
}

.wc-block-product-search .wc-block-product-search__button {
    -webkit-transform: none !important;
    transform: none !important
}

.wc-block-grid__product-rating .star-rating,
.wc-block-grid__product-rating [class*="rating__stars"] {
    font-family: 'woo';
    font-size: 0.9em;
    line-height: 1;
    width: 7em;
    height: 1em
}

.wc-block-grid__product-rating .star-rating:before,
.wc-block-grid__product-rating [class*="rating__stars"]:before {
    right: initial;
    color: var(--starRatingInactiveColor)
}

.wc-block-grid__product-rating .star-rating span:before,
.wc-block-grid__product-rating [class*="rating__stars"] span:before {
    color: inherit
}

.product_list_widget li {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-column-gap: 20px;
    --listItemSpacing: 0 0 20px 0
}

.product_list_widget .ct-image-container {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.product_list_widget .product-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
    padding-right: 10px
}

.product_list_widget .product-title {
    font-size: 15px;
    font-weight: 500
}

.product_list_widget .product-title::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - 1.65) * 0.5em)
}

.product_list_widget .star-rating {
    margin-top: 5px
}

.product_list_widget .price {
    font-size: 13px;
    font-weight: 500;
    margin-top: 5px
}

.product_list_widget .quantity {
    margin-top: 5px;
    font-size: 13px
}

.product_list_widget .quantity>span {
    font-weight: 500;
    margin-left: 3px
}

.product_list_widget .reviewer {
    font-size: 13px;
    font-weight: 500;
    margin-top: 5px
}

.woocommerce-mini-cart {
    position: relative;
    --listIndent: 0;
    --listStyleType: none
}

.woocommerce-mini-cart li {
    position: relative;
    z-index: 1
}

.woocommerce-mini-cart dl.variation {
    font-size: 13px
}

.woocommerce-mini-cart .remove {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    font-size: 17px;
    line-height: 13px;
    text-align: center;
    font-weight: normal;
    -webkit-transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.woocommerce-mini-cart .blockUI.blockOverlay {
    opacity: 0.85 !important;
    background-color: transparent !important
}

.woocommerce-mini-cart~.buttons .button:hover {
    color: var(--buttonTextHoverColor)
}

.woocommerce-mini-cart__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 20px;
    border-top: 1px dashed rgba(0, 0, 0, 0.07)
}

.woocommerce-mini-cart__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    margin-top: 15px;
    margin-bottom: 0
}

.woocommerce-mini-cart__buttons>* {
    grid-column: var(--gridColumn, 1/-1)
}

.woocommerce-mini-cart__buttons .button.wc-forward {
    --gridColumn: span 1
}

.widget_product_search form label {
    display: none !important
}

.widget_price_filter .ui-slider {
    position: relative;
    z-index: 1;
    height: 3px;
    margin-bottom: 40px
}

.widget_price_filter .ui-slider:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: var(--paletteColor1)
}

.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    opacity: 0.7;
    background-color: var(--paletteColor1)
}

.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    top: calc(50% - 9px);
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: #fff;
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 0px 0px 18px var(--paletteColor1);
    box-shadow: inset 0px 0px 0px 18px var(--paletteColor1);
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
    transition: -webkit-box-shadow 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out,
        transform 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        -webkit-box-shadow 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -18px
}

.widget_price_filter .ui-slider .ui-slider-handle:focus {
    outline: none
}

.widget_price_filter .ui-slider .ui-slider-handle:hover {
    -webkit-box-shadow: inset 0px 0px 0px 3px var(--paletteColor1);
    box-shadow: inset 0px 0px 0px 3px var(--paletteColor1)
}

.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-box-shadow: inset 0px 0px 0px 2.5px var(--paletteColor1);
    box-shadow: inset 0px 0px 0px 2.5px var(--paletteColor1)
}

.widget_price_filter .price_slider_amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.widget_price_filter .price_slider_amount #min_price,
.widget_price_filter .price_slider_amount #max_price,
.widget_price_filter .price_slider_amount .clear {
    display: none
}

.widget_price_filter .price_slider_amount .price_label {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    font-size: 15px;
    font-weight: 500
}

.widget_price_filter .price_slider_amount .button {
    --height: 35px;
    --padding: 0 20px;
    --buttonFontSize: 14px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

.woocommerce .widget_rating_filter ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.widget_layered_nav_filters ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -8px -4px 0 -4px
}

.widget_layered_nav_filters ul li {
    margin: 8px 4px 0 4px
}

.widget_layered_nav_filters ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    padding: 0 10px 0 12px;
    border-radius: 3px;
    border: 1px solid #d7dee5;
    -webkit-transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.widget_layered_nav_filters ul li a:after {
    content: 'Ã—';
    width: 15px;
    height: 15px;
    font-size: 17px;
    font-weight: normal;
    line-height: 13px;
    text-align: center;
    margin-left: 8px;
    color: red;
    -webkit-transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.widget_layered_nav_filters ul li a:hover {
    color: #fff;
    border-color: var(--paletteColor1);
    background: var(--paletteColor1)
}

.widget_layered_nav_filters ul li a:hover:after {
    color: #fff
}

.widget_layered_nav_filters ul li a .amount {
    margin-left: 5px
}

.uael-woocommerce .uael-woo-products-summary-wrap .button {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important
}

.uael-woocommerce .price ins {
    margin-left: 0 !important
}

label.wc-pao-addon-name {
    --fontWeight: 500;
    margin-bottom: 10px
}

.wc-pao-addon {
    margin-top: 20px
}

.wc-pao-addon:first-child {
    margin-top: 0
}

div.product-addon-totals ul {
    --listItemSpacing: 0
}

div.product-addon-totals strong {
    font-weight: 600
}

.wc-pao-addon-image-swatch.selected {
    outline-color: var(--paletteColor1)
}

.wc-points-rewards-product-message {
    display: block
}

.wc-proceed-to-checkout #wc-stripe-payment-request-wrapper {
    margin-bottom: 15px
}

.product-type-variable .wcppec-checkout-buttons {
    position: relative;
    z-index: 1
}

#wc-stripe-payment-request-wrapper {
    padding-top: 0 !important
}

.wcppec-checkout-buttons__separator,
#wc-stripe-payment-request-button-separator {
    display: none !important
}

.wc-product-table .ct-cart-actions {
    --display: inline-block
}

.wc-product-table .cart div.quantity .qty {
    padding-right: calc(25% + 3px) !important
}

.wtbpTableWrapper .dataTables_wrapper table.wtbpContentTable {
    text-align: left
}

.wtbpTableWrapper .dataTables_wrapper div.quantity {
    --quantityWidth: 65px;
    --quantityHeight: 35px
}

.wtbpTableWrapper .dataTables_wrapper .add_to_cart_inline a {
    --buttonMinHeight: 35px
}

.component_option_thumbnail button {
    display: inline-block
}

.composite_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.composite_button .single_add_to_cart_button {
    --buttonMinHeight: 55px
}

.composite_button .added_to_cart,
.composite_button .single_add_to_cart_button {
    margin-left: 10px
}