.ocwpcf7_description {
    display: none !important;
}
@media screen and (max-width: 600px)
{
	.woocommerce-archive h1
	{
		    font-size: 22px;
	}
.entry-header .page-description
{
	font-size: 14px !important;
	display: block !important;
}
	}
div#bitnami-banner {
    display: none !important;
}
.ct-woo-card-actions, li#tab-title-reviews, .entry-summary form.cart{
    display: none;
}
.hero-section[data-type="type-2"]>figure:after {
    background-color: #00000059 !important;
}
.woocommerce-archive h1 {
    color: white !important;
}
.entry-header .page-description {
    color: white !important;
}
/*
li#menu-item-621, li#menu-item-633, li#menu-item-620, li#menu-item-622 {
  display: contents;

}
*/
/*
li#menu-item-621 a {
    padding-top: 15px !important;
}

li#menu-item-621 a, li#menu-item-633 a, li#menu-item-620 a, li#menu-item-622 a {
    top: -8em!important;
    position: relative;
    left: -5px;
}
*/
/* {
    display: none !important;
} */
div#tab-reviews {
    display: none !important;
}

@media screen and (min-width: 782px)
{
	.product-entry-wrapper {
    --productGalleryWidth: 0px !important;
}
li#menu-item-243:hover #menu-item-1282 > ul{
	
    box-shadow: none !important;
    margin: 0px !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: relative !important;
    top: 0px;
    margin-left: 30px !important;
}
.menu .sub-menu li a {
	padding: 5px 10px !important;
}
#menu-item-243 > ul>li.menu-item.menu-item-type-post_type.menu-item-object-product {
    padding: 0px 15px;
}
#menu-item-243 > ul>li.menu-item.menu-item-type-post_type.menu-item-object-product a
{
	color: #000;
	
}
li#menu-item-398 > ul.sub-menu {
	    top: 45px !important;
    overflow: hidden;
    width: 150%;
    padding-left: 25px;
	    left: 0px;

}
li#menu-item-398 > ul.sub-menu> li {
    width: 50%;
    float: left;
}
#menu-item-243 > ul>li.menu-item-has-children {
    width: 14.2%;
    float: left;
}
#menu-item-243 > ul {
    top: 45px;
    overflow: hidden;
    width: 915%;
    left: -160%;
    padding-left: 35px;
}
li#menu-item-243:hover >ul.sub-menu>li>ul {
	    padding-left: 5px;
    width: 80%;
	    box-shadow: none !important;
    margin: 0px !important;
    opacity: 1 !important;
    visibility: visible !important;
    top: 0px !important;
    position: relative !important;
}
[data-dropdown-animation="type-3"] .sub-menu>li {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
#menu-item-243 > ul>li
{
	float: left;
}
#menu-item-243 > ul>li> a {

    font-size: 18px !important;
    font-weight: 700 !important;
    
}
.header-menu-1 .sub-menu li {
    border: none !important;
}
#menu-item-243 > ul>li.menu-item-has-children span.child-indicator {
    display: none;
}
#menu-item-243 > ul>li.menu-item-has-children > a {
	    color: #070707;
    cursor: auto;
    font-size: 16px;
    font-weight: 700;
}
#menu-item-243 > ul>li li {
    list-style-type: square;
    color: white;
}
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    display: none;
}
input#mc-embedded-subscribe {
    background-color: black !important;
}
#mc_embed_signup form {
    background: #a8e3fc;
}
#mc_embed_signup input.email {
    height: 45px !important;
}
.woocommerce-tabs .tabs li.active, .woocommerce-tabs .tabs li:hover {
    background: rgba(116, 117, 119, 0.7) !important;
}


h2.page-title > span {
    display: none !important;
}

p.price {
    display: none;
}
.ct-header-cta {
    position: fixed;
    bottom: 12px;
    right: 0px;
}
.woocommerce-product-details__short-description.entry-content > h1 {
    font-size: 18px !important;
}
span.price {
    display: none;
}
div#quotation_button {
    position: relative !important;
}
section.related.products a#wqoecf_form {
    display: none;
}