:root {
    --wideOffset: 130px;
    --maxSiteWidth: 1290px;
    --buttonInitialColor: #0a0500;
    --buttonTextInitialColor: #ffffff;
    --buttonMinHeight: 45px;
    --headingColor: #070606;
    --linkInitialColor: #0a0a0a;
    --paletteColor5: #ffffff;
    --paletteColor3: #b3b9c0;
    --paletteColor1: #dcdede;
    --formBorderFocusColor: var(--paletteColor1);
    --formInputHeight: 45px;
    --formBackgroundInitialColor: var(--paletteColor5);
    --saleBadgeBackgroundColor: var(--paletteColor1);
    --starRatingInactiveColor: #e9e9ed;
    --buttonFontSize: 15px;
    --lineHeight: 1.65;
    --textDecoration: none;
    --fontWeight: 400;
    --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --textTransform: none;
    --fontSize: 17px;
    --letterSpacing: 0em;
    --buttonFontWeight: 500;
    --starRatingInitialColor: var(--paletteColor2);
    --saleBadgeTextColor: var(--paletteColor4);
    --formFontSize: 15px;
    --formBackgroundFocusColor: var(--paletteColor5);
    --formBorderInitialColor: rgba(232, 235, 240, 1);
    --formBorderSize: 2px;
    --paletteColor2: #46b1c9;
    --paletteColor4: #b3b9c0;
    --color: #383b3d;
    --linkHoverColor: var(--paletteColor2);
    --contentSpacing: 1.5em;
    --buttonBorderRadius: 3px;
    --buttonTextHoverColor: #ffffff;
    --buttonHoverColor: var(--paletteColor2);
    --narrowContainer: 750px;
}

h1 {
    --fontSize: 40px;
    --fontWeight: 700;
    --lineHeight: 1.5;
}

h2 {
    --fontSize: 35px;
    --fontWeight: 700;
    --lineHeight: 1.5;
}

h3 {
    --fontSize: 30px;
    --fontWeight: 700;
    --lineHeight: 1.5;
}

h4 {
    --fontSize: 25px;
    --fontWeight: 700;
    --lineHeight: 1.5;
}

h5 {
    --fontSize: 20px;
    --fontWeight: 700;
    --lineHeight: 1.5;
}

h6 {
    --fontSize: 16px;
    --fontWeight: 700;
    --lineHeight: 1.5;
}

.wp-block-quote.is-style-large p,
.wp-block-pullquote p,
.ct-quote-widget blockquote {
    --fontSize: 25px;
    --fontFamily: Georgia;
    --fontWeight: 600;
}

code,
kbd,
samp,
pre {
    --fontSize: 16px;
    --fontFamily: monospace;
    --fontWeight: 400;
}

.ct-sidebar .widget-title {
    --fontSize: 18px;
}

.entry-summary>.product_title {
    --fontSize: 30px;
}

body {
    --backgroundColor: #fafbfc;
    --backgroundImage: none;
}

.post[data-structure*="boxed"] {
    --contentBoxedSpacing: 40px;
    --backgroundImage: none;
    --backgroundColor: #ffffff;
}

.ct-related-posts-container {
    --narrowContainer: 750px;
    --padding: 70px;
    --backgroundImage: none;
    --backgroundColor: #eff1f5;
    --visibility: block;
}

.page[data-structure*="boxed"] {
    --contentBoxedSpacing: 40px;
    --backgroundImage: none;
    --backgroundColor: #ffffff;
}

.ct-trending-block {
    --padding: 30px;
    --backgroundImage: none;
    --backgroundColor: #1b1b1b;
    --color: var(--paletteColor5);
}

.footer-widgets-area {
    --backgroundColor: #f4f5f8;
    --backgroundImage: none;
}

.product[data-structure*="boxed"] {
    --contentBoxedSpacing: 40px;
    --backgroundColor: #ffffff;
    --backgroundImage: none;
}

[data-products] {
    --cardsGap: 30px;
}

[data-products] .woocommerce-loop-product__title,
[data-products] .woocommerce-loop-category__title {
    --fontSize: 16px;
    --linkHoverColor: var(--paletteColor3);
    --fontWeight: 600;
}

[data-products] .product-categories a {
    --linkInitialColor: var(--color);
}

[data-products="type-2"] {
    --boxShadow: 0px 12px 18px -6px rgba(34, 56, 101, 0.03);
    --backgroundColor: #ffffff;
}

[data-products] .product {
    --borderRadius: 3px;
}

.product-entry-wrapper {
    --productGalleryWidth: 50%;
}

.up-sells {
    --visibility: none;
}

.related[data-products] {
    --visibility: none;
}

.demo_store {
    --backgroundColor: var(--paletteColor1);
    --color: #ffffff;
}

.woocommerce-info,
.woocommerce-message {
    --backgroundColor: #F0F1F3;
}

.woocommerce-error {
    --backgroundColor: rgba(218, 0, 28, 0.7);
    --color: #ffffff;
}

form textarea {
    --formInputHeight: 170px;
}

.selectr-container {
    --selectDropdownBackground: #ffffff;
    --selectDropdownItemHoverColor: rgba(232, 235, 240, 0.4);
    --colorActive: #ffffff;
    --selectDropdownItemActiveColor: var(--paletteColor1);
}

[type="radio"],
[type="checkbox"] {
    --radioCheckboxAccentColor: var(--paletteColor1);
    --radioCheckboxInitialColor: #e8ebf0;
}

.content-area {
    --contentAreaSpacing: 80px;
}

[data-sidebar] {
    --sidebarOffset: 50px;
    --sidebarWidthNoUnit: 27;
    --sidebarWidth: 27%;
    --sidebarGap: 4%;
}

.ct-sidebar {
    --sidebarWidgetsSpacing: 60px;
    --linkInitialColor: var(--color);
}

[data-sidebar]>aside {
    --sidebarInnerSpacing: 35px;
    --sidebarBackgroundColor: var(--paletteColor5);
}

aside[data-type="type-2"] {
    --boxShadow: 0px 12px 18px -6px rgba(34, 56, 101, 0.04);
    --border: none;
}

aside[data-type="type-3"] {
    --border: 1px solid rgba(224, 229, 235, 0.8);
}

.ct-related-posts {
    --visibility: grid;
}

.related-entry-title {
    --linkInitialColor: var(--color);
}

.ct-related-posts .ct-image-container {
    --borderRadius: 5px;
}

.post-navigation {
    --margin: 80px;
    --linkInitialColor: var(--color);
}

.ct-share-box[data-location="top"] {
    --margin: 70px;
}

.ct-share-box[data-location="bottom"] {
    --margin: 70px;
}

.ct-share-box[data-type="type-1"] {
    --borderColor: #e0e5eb;
    --linkInitialColor: var(--color);
}

.ct-share-box[data-type="type-2"] {
    --backgroundColorHover: var(--paletteColor2);
    --color: #ffffff;
    --backgroundColor: var(--paletteColor1);
}

.author-box {
    --spacing: 40px;
}

.author-box[data-type="type-1"] {
    --boxShadow: 0px 50px 90px rgba(210, 213, 218, 0.4);
    --backgroundColor: #ffffff;
}

.author-box[data-type="type-2"] {
    --borderColor: #e8ebf0;
}

.ct-back-to-top {
    --backgroundColor: var(--paletteColor3);
    --color: #ffffff;
    --size: 12px;
    --bottom: 25px;
    --colorHover: #ffffff;
    --backgroundColorHover: var(--paletteColor4);
}

.ct-passepartout {
    --passepartoutColor: var(--paletteColor1);
    --passepartoutSize: 10px;
}

.ct-floating-bar {
    --boxShadow: 0px 10px 20px rgba(44, 62, 80, 0.15);
    --backgroundColor: #ffffff;
}

.cookie-notification {
    --maxWidth: 400px;
    --buttonHoverColor: var(--paletteColor2);
    --buttonInitialColor: var(--paletteColor1);
    --backgroundColor: #ffffff;
}

@media (max-width: 1000px) and (min-width: 690px) {
    :root {
        --buttonBorderRadius: 3px;
        --buttonFontSize: 15px;
        --lineHeight: 1.65;
        --fontSize: 17px;
        --letterSpacing: 0em;
        --buttonMinHeight: 45px;
    }

    h1 {
        --fontSize: 40px;
        --lineHeight: 1.5;
    }

    h2 {
        --fontSize: 35px;
        --lineHeight: 1.5;
    }

    h3 {
        --fontSize: 30px;
        --lineHeight: 1.5;
    }

    h4 {
        --fontSize: 25px;
        --lineHeight: 1.5;
    }

    h5 {
        --fontSize: 20px;
        --lineHeight: 1.5;
    }

    h6 {
        --fontSize: 16px;
        --lineHeight: 1.5;
    }

    .wp-block-quote.is-style-large p,
    .wp-block-pullquote p,
    .ct-quote-widget blockquote {
        --fontSize: 25px;
    }

    code,
    kbd,
    samp,
    pre {
        --fontSize: 16px;
    }

    .ct-sidebar .widget-title {
        --fontSize: 18px;
    }

    .entry-summary>.product_title {
        --fontSize: 30px;
    }

    [data-products] {
        --cardsGap: 30px;
    }

    [data-products] .product {
        --borderRadius: 3px;
    }

    [data-products="type-2"] {
        --boxShadow: 0px 12px 18px -6px rgba(34, 56, 101, 0.03);
    }

    [data-products] .woocommerce-loop-product__title,
    [data-products] .woocommerce-loop-category__title {
        --fontSize: 16px;
    }

    .product[data-structure*="boxed"] {
        --contentBoxedSpacing: 40px;
    }

    .up-sells {
        --visibility: none;
    }

    .related[data-products] {
        --visibility: none;
    }

    .content-area {
        --contentAreaSpacing: 60px;
    }

    aside[data-type="type-2"] {
        --boxShadow: 0px 12px 18px -6px rgba(34, 56, 101, 0.04);
        --border: none;
    }

    aside[data-type="type-3"] {
        --border: 1px solid rgba(224, 229, 235, 0.8);
    }

    .ct-sidebar {
        --sidebarWidgetsSpacing: 40px;
    }

    [data-sidebar]>aside {
        --sidebarInnerSpacing: 35px;
    }

    .ct-trending-block {
        --padding: 30px;
    }

    .ct-related-posts-container {
        --visibility: none;
        --padding: 50px;
    }

    .ct-related-posts {
        --visibility: none;
    }

    .ct-related-posts .ct-image-container {
        --borderRadius: 5px;
    }

    .post-navigation {
        --margin: 60px;
    }

    .ct-share-box[data-location="top"] {
        --margin: 50px;
    }

    .ct-share-box[data-location="bottom"] {
        --margin: 50px;
    }

    .post[data-structure*="boxed"] {
        --contentBoxedSpacing: 40px;
    }

    .page[data-structure*="boxed"] {
        --contentBoxedSpacing: 40px;
    }

    .author-box {
        --spacing: 40px;
    }

    .author-box[data-type="type-1"] {
        --boxShadow: 0px 50px 90px rgba(210, 213, 218, 0.4);
    }

    .ct-back-to-top {
        --size: 12px;
        --bottom: 25px;
    }

    .ct-passepartout {
        --passepartoutSize: 10px;
    }

    .ct-floating-bar {
        --boxShadow: 0px 10px 20px rgba(44, 62, 80, 0.15);
    }
}

@media (max-width: 690px) {
    :root {
        --buttonBorderRadius: 3px;
        --buttonFontSize: 15px;
        --lineHeight: 1.65;
        --fontSize: 17px;
        --letterSpacing: 0em;
        --buttonMinHeight: 45px;
    }

    h1 {
        --fontSize: 40px;
        --lineHeight: 1.5;
    }

    h2 {
        --fontSize: 35px;
        --lineHeight: 1.5;
    }

    h3 {
        --fontSize: 30px;
        --lineHeight: 1.5;
    }

    h4 {
        --fontSize: 25px;
        --lineHeight: 1.5;
    }

    h5 {
        --fontSize: 20px;
        --lineHeight: 1.5;
    }

    h6 {
        --fontSize: 16px;
        --lineHeight: 1.5;
    }

    .wp-block-quote.is-style-large p,
    .wp-block-pullquote p,
    .ct-quote-widget blockquote {
        --fontSize: 25px;
    }

    code,
    kbd,
    samp,
    pre {
        --fontSize: 16px;
    }

    .ct-sidebar .widget-title {
        --fontSize: 18px;
    }

    .entry-summary>.product_title {
        --fontSize: 30px;
    }

    [data-products] {
        --cardsGap: 30px;
    }

    [data-products] .product {
        --borderRadius: 3px;
    }

    [data-products="type-2"] {
        --boxShadow: 0px 12px 18px -6px rgba(34, 56, 101, 0.03);
    }

    [data-products] .woocommerce-loop-product__title,
    [data-products] .woocommerce-loop-category__title {
        --fontSize: 16px;
    }

    .product[data-structure*="boxed"] {
        --contentBoxedSpacing: 40px;
    }

    .up-sells {
        --visibility: none;
    }

    .related[data-products] {
        --visibility: none;
    }

    .content-area {
        --contentAreaSpacing: 50px;
    }

    aside[data-type="type-2"] {
        --boxShadow: 0px 12px 18px -6px rgba(34, 56, 101, 0.04);
        --border: none;
    }

    aside[data-type="type-3"] {
        --border: 1px solid rgba(224, 229, 235, 0.8);
    }

    .ct-sidebar {
        --sidebarWidgetsSpacing: 30px;
    }

    [data-sidebar]>aside {
        --sidebarInnerSpacing: 35px;
    }

    .ct-trending-block {
        --padding: 30px;
    }

    .ct-related-posts-container {
        --visibility: none;
        --padding: 30px;
    }

    .ct-related-posts {
        --visibility: none;
    }

    .ct-related-posts .ct-image-container {
        --borderRadius: 5px;
    }

    .post-navigation {
        --margin: 40px;
    }

    .ct-share-box[data-location="top"] {
        --margin: 30px;
    }

    .ct-share-box[data-location="bottom"] {
        --margin: 30px;
    }

    .post[data-structure*="boxed"] {
        --contentBoxedSpacing: 40px;
    }

    .page[data-structure*="boxed"] {
        --contentBoxedSpacing: 40px;
    }

    .author-box {
        --spacing: 40px;
    }

    .author-box[data-type="type-1"] {
        --boxShadow: 0px 50px 90px rgba(210, 213, 218, 0.4);
    }

    .ct-back-to-top {
        --size: 12px;
        --bottom: 25px;
    }

    .ct-passepartout {
        --passepartoutSize: 0px;
    }

    .ct-floating-bar {
        --boxShadow: 0px 10px 20px rgba(44, 62, 80, 0.15);
    }
}