.ct-header-account {
    --margin: 0 10px 0 20px !important;
    --linkInitialColor: var(--color);
    --iconSize: 15px;
    --avatarSize: 22px;
}

#account-modal {
    --backgroundColor: rgba(18, 21, 25, 0.7);
    --backgroundImage: none;
}

header [data-row="bottom"] {
    --boxShadow: 0px 25px 40px rgba(0, 0, 0, 0.03);
    --height: 60px;
}

[data-header*="static"] [data-row="bottom"] {
    --backgroundColor: rgba(255, 255, 255, 0);
    --backgroundImage: none;
}

header [data-row="bottom"][data-border] {
    --borderBottom: none;
    --borderTop: 1px solid #f2f1f1;
}

.ct-header-cta .ct-button-ghost {
    --buttonTextHoverColor: #ffffff;
    --buttonTextInitialColor: var(--buttonInitialColor);
}

.ct-header-cart i {
    --iconSize: 15px;
}

.ct-header-cart>a {
    --linkInitialColor: var(--color);
}

.ct-header-cart {
    --margin: 0 0 0 20px !important;
    --cartBadgeBackground: var(--paletteColor2);
    --cartBadgeText: #ffffff;
}

.ct-cart-content {
    --backgroundColor: #202628;
    --linkInitialColor: #ffffff;
    --dropdownTopOffset: 15px;
}

.custom-logo-link {
    --maxHeight: 50px;
}

.site-title {
    --fontSize: 25px;
    --linkInitialColor: var(--paletteColor4);
}

.site-description {
    --fontWeight: 500;
    --fontSize: 13px;
}

.header-menu-1 {
    --menuItemsSpacing: 50px;
    --menuIndicatorActiveColor: var(--paletteColor1);
}

.header-menu-1>ul {
    --height: 100%;
}

.header-menu-1>ul>li>a {
    --fontSize: 14px;
    --textTransform: uppercase;
    --fontWeight: 700;
    --lineHeight: 1.3;
}

.header-menu-1>ul>li>a {
    --colorHoverType3: #ffffff;
    --linkInitialColor: #000000;
    --linkHoverColor: var(--paletteColor2);
}

.header-menu-1 .sub-menu {
    --borderRadius: 2px;
    --backgroundColor: #889093;
    --linkHoverColor: #000000;
    --fontSize: 14px;
    --marginTop: 15px;
    --width: 200px;
    --fontWeight: 500;
    --linkInitialColor: #ffffff;
    --dropDownDivider: 1px dashed rgba(255, 255, 255, 0.17);
    --boxShadow: 0px 10px 20px rgba(41, 51, 61, 0.1);
}

.header-menu-1 .sub-menu li {
    --padding: 13px;
}

.header-menu-2 {
    --menuItemsSpacing: 25px;
    --menuIndicatorActiveColor: var(--paletteColor1);
}

.header-menu-2>ul {
    --height: 100%;
}

.header-menu-2>ul>li>a {
    --fontSize: 12px;
    --textTransform: uppercase;
    --fontWeight: 700;
    --lineHeight: 1.3;
}

.header-menu-2>ul>li>a {
    --colorHoverType3: #ffffff;
    --linkInitialColor: var(--color);
}

.header-menu-2 .sub-menu {
    --borderRadius: 2px;
    --backgroundColor: #29333C;
    --fontSize: 12px;
    --marginTop: 15px;
    --width: 200px;
    --fontWeight: 500;
    --linkInitialColor: #ffffff;
    --dropDownDivider: 1px dashed rgba(255, 255, 255, 0.1);
    --boxShadow: 0px 10px 20px rgba(41, 51, 61, 0.1);
}

.header-menu-2 .sub-menu li {
    --padding: 13px;
}

header [data-row="middle"] {
    --height: 70px;
}

[data-header*="static"] [data-row="middle"] {
    --backgroundColor: rgba(255, 255, 255, 0);
    --backgroundImage: none;
}

header [data-row="middle"][data-border] {
    --borderBottom: none;
    --borderTop: none;
}

.mobile-menu {
    --fontSize: 30px;
    --fontWeight: 700;
    --linkInitialColor: #ffffff;
}

#offcanvas {
    --backgroundColor: rgba(18, 21, 25, 0.98);
    --backgroundImage: none;
}

[data-behaviour*="side"] {
    --boxShadow: 0px 0px 70px rgba(0, 0, 0, 0.35);
}

.ct-header-search {
    --linkInitialColor: var(--color);
    --iconSize: 15px;
}

#search-modal {
    --backgroundColor: rgba(18, 21, 25, 0.98);
    --linkInitialColor: #ffffff;
    --backgroundImage: none;
}

.ct-header-socials {
    --iconSize: 15px;
    --spacing: 30px;
}

.ct-header-socials [data-color="custom"] {
    --backgroundColorHover: var(--paletteColor1);
    --linkInitialColor: var(--color);
    --backgroundColor: rgba(218, 222, 228, 0.3);
}

.ct-header-socials .ct-label {
    --visibility: none;
}

.ct-header-text {
    --linkInitialColor: #0a0a0a;
    --fontSize: 16px;
    --maxWidth: 100%;
    --fontWeight: 700;
    --lineHeight: 1.3;
    --color: #000000;
    --linkHoverColor: var(--paletteColor2);
}

header [data-row="top"] {
    --height: 50px;
}

[data-header*="static"] [data-row="top"] {
    --backgroundColor: #f9f9f9;
    --backgroundImage: none;
}

header [data-row="top"][data-border] {
    --borderBottom: none;
    --borderTop: none;
}

.ct-header-trigger {
    --secondColor: #eeeeee;
    --linkInitialColor: var(--color);
    --secondColorHover: #eeeeee;
}

[data-header] {
    --backgroundColor: #ffffff;
    --backgroundImage: none;
}

.site-footer [data-row="bottom"]>div {
    --gridTemplateColummns: initial;
    --itemsGap: 60px;
    --containerSpacing: 7px;
}

.site-footer [data-row="bottom"] .widget-title {
    --fontSize: 16px;
}

.site-footer [data-row="bottom"] .ct-widget {
    --linkInitialColor: var(--color);
}

.site-footer [data-row="bottom"] [data-divider="columns"] {
    --border: none;
}

.site-footer [data-row="bottom"] {
    --backgroundColor: #a8e3fc;
    --borderBottom: none;
    --borderTop: none;
    --backgroundImage: none;
}

.ct-footer-copyright {
    --fontSize: 15px;
    --fontWeight: 400;
    --lineHeight: 1.3;
    --color: #3f3f3f;
}

[data-column="copyright"] {
    --vertical-alignment: center;
    --horizontal-alignment: center;
}

.footer-menu {
    --menuItemsSpacing: 25px;
}

[data-column="menu"] {
    --vertical-alignment: center;
    --alignment: center;
}

.footer-menu ul {
    --fontSize: 18px;
    --textTransform: uppercase;
    --fontWeight: 700;
    --lineHeight: 1.3;
}

.footer-menu>ul>li>a {
    --linkHoverColor: #000000;
    --linkInitialColor: var(--color);
}

.site-footer [data-row="middle"]>div {
    --gridTemplateColummns: initial;
    --itemsGap: 60px;
    --containerSpacing: 10px;
}

.site-footer [data-row="middle"] .widget-title {
    --headingColor: var(--paletteColor5);
    --fontSize: 16px;
}

.site-footer [data-row="middle"] .ct-widget>*:not(.widget-title) {
    --color: rgba(255, 255, 255, 0.6);
}

.site-footer [data-row="middle"] .ct-widget {
    --linkInitialColor: var(--paletteColor5);
}

.site-footer [data-row="middle"] [data-divider="columns"] {
    --border: none;
}

.site-footer [data-row="middle"] {
    --backgroundColor: #a8e3fc;
    --borderBottom: none;
    --borderTop: none;
    --backgroundImage: none;
}

.ct-footer-socials {
    --iconSize: 34px;
    --spacing: 20px;
}

[data-column="socials"] {
    --vertical-alignment: flex-end;
    --horizontal-alignment: center;
}

.ct-footer-socials [data-color="custom"] {
    --backgroundColorHover: var(--paletteColor1);
    --linkHoverColor: #000000;
    --linkInitialColor: var(--color);
    --backgroundColor: rgba(218, 222, 228, 0.3);
}

.ct-footer-socials .ct-label {
    --visibility: none;
}

.site-footer [data-row="top"]>div {
    --gridTemplateColummns: repeat(2, 1fr);
    --itemsGap: 60px;
    --containerSpacing: 35px;
}

.site-footer [data-row="top"] .widget-title {
    --fontSize: 16px;
}

.site-footer [data-row="top"] .ct-widget {
    --linkHoverColor: #85cbe9;
    --linkInitialColor: var(--color);
}

.site-footer [data-row="top"] [data-divider="columns"] {
    --border: none;
}

.site-footer [data-row="top"] {
    --backgroundColor: #a8e3fc;
    --borderBottom: none;
    --borderTop: none;
    --backgroundImage: none;
}

.ct-footer-reveal .site-footer {
    --position: sticky;
}

.site-footer {
    --backgroundColor: #a8e3fc;
    --backgroundImage: none;
}

.ct-comments-container {
    --backgroundColor: #f8f9fb;
    --narrowContainer: 750px;
    --backgroundImage: none;
}

.ct-pagination {
    --spacing: 80px;
}

.ct-pagination[data-divider] {
    --border: none;
}

.ct-pagination[data-type="simple"] {
    --colorActive: #ffffff;
}

.content-area {
    overflow: hidden;
}

.entry-card .entry-title {
    --fontSize: 20px;
    --lineHeight: 1.3;
}

.entry-excerpt {
    --cardExcerptSize: 16px;
}

.entry-card .entry-meta {
    --fontSize: 12px;
    --textTransform: uppercase;
    --fontWeight: 600;
    --lineHeight: 1.3;
}

.entry-button[data-type="outline"] {
    --colorHover: #ffffff;
}

[data-cards="boxed"] .entry-card {
    --boxShadow: 0px 12px 18px -6px rgba(34, 56, 101, 0.04);
    --cardSpacing: 35px;
    --cardBackground: #ffffff;
    --border: none;
}

[data-cards="simple"] .entry-card {
    --border: 1px dashed rgba(224, 229, 235, 0.8);
}

.entries {
    --cardsGap: 30px;
}
