.ocwpcf7_description {
    font-size: 13px;
    display: block;
    padding: 0px 10px;
    line-height: 1.5;
    word-break: break-word;
    padding-bottom: 5px;
}

.ocwpcf7_left_box img {
    max-width: 100%;
}

.ocwpcf7_left_box {
    width: 20%;
    float: left;
    display: inline-block;
    text-align: center;
}

.ocwpcf7_right_box {
    width: 80%;
    float: left;
    display: inline-block;
}

.ocwpcf7_title {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 10px;
    display: block;
    color: #000;
    line-height: 1.5;
}

.ocwpcf7_main {
    display: inline-block;
    width: 100%;
    float: left;
}

.select2-container {
    min-width: 400px;
}

.ocwpcf7_meta_data ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ocwpcf7_meta_data ul li {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
    background-color: #ccc;
    padding: 2px 5px 2px;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: .25em;
    line-height: 1.6;
    margin-bottom: 5px;
}

.select2-results__option[aria-selected] {
    cursor: pointer;
    float: left;
    width: 100%;
    line-height: initial !important;
}

.ocwpcf7_main.woocommerce .star-rating::before {
    color: #fff !important;
}

.ocwpcf7_main.woocommerce .star-rating {
    margin: 0;
}