/**
 *  - v1.7.5
 * 
 * Copyright (c) 2020
 * Licensed GPLv2+
 */

.ct-instagram-widget ul {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px
}

.ct-instagram-widget ul li {
    --listItemSpacing: 0;
    -webkit-transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.ct-instagram-widget ul li:hover {
    opacity: 0.8
}

.ct-instagram-widget [data-columns='2'] {
    grid-template-columns: repeat(2, 1fr)
}

.ct-instagram-widget [data-columns='3'] {
    grid-template-columns: repeat(3, 1fr)
}

.ct-instagram-widget [data-columns='4'] {
    grid-template-columns: repeat(4, 1fr)
}

.ct-instagram-widget [data-columns='5'] {
    grid-template-columns: repeat(5, 1fr)
}

.ct-instagram-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ct-instagram-block.ct-empty {
    display: none
}

.ct-instagram-block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none
}

.ct-instagram-block ul li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease
}

@media (min-width: 690px) and (max-width: 999.98px) {
    .ct-instagram-block ul li:nth-child(n+5) {
        display: none
    }
}

@media (max-width: 689.98px) {
    .ct-instagram-block ul li:nth-child(n+4) {
        display: none
    }
}

.ct-instagram-block ul li:hover {
    opacity: 0.8
}

.ct-instagram-block ul.ct-loading+a {
    display: none
}

.ct-instagram-block[data-location='above'] {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.ct-instagram-block[data-location='below'] {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5
}

.ct-instagram-follow {
    --buttonMinHeight: 40px;
    --padding: 0 18px;
    --buttonTextInitialColor: var(--color);
    --buttonTextHoverColor: #fff;
    --buttonInitialColor: #fff;
    position: absolute;
    top: calc(50% - 19px);
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace
}