/**
 *  - v1.7.5
 * 
 * Copyright (c) 2020
 * Licensed GPLv2+
 */

.ct-posts-widget ul li {
    --listItemSpacing: 0 0 20px 0
}

.ct-posts-widget ul a {
    display: var(--display, grid)
}

.ct-posts-widget ul .ct-image-container {
    -ms-flex-item-align: start;
    align-self: start
}

.ct-posts-widget ul .ct-entry-content {
    -ms-flex-item-align: center;
    align-self: center
}

.ct-posts-widget ul .ct-post-title {
    --fontSize: 15px;
    --lineHeight: 1.5;
    --fontWeight: 500
}

.ct-posts-widget ul .ct-entry-excerpt {
    margin-top: 5px;
    font-size: 13px;
    color: var(--color)
}

.ct-posts-widget ul .ct-entry-meta {
    color: var(--color)
}

.ct-posts-widget ul .ct-entry-meta span:not(:last-child):after {
    content: '/';
    margin: 0 3px
}

.ct-posts-widget ul[data-type="rounded"] a,
.ct-posts-widget ul[data-type="large-small"] a,
.ct-posts-widget ul[data-type="small-thumbs"] a {
    grid-template-columns: 25% 1fr;
    grid-column-gap: 20px
}

.ct-posts-widget ul[data-type="no-thumbs"] a {
    --display: block
}

.ct-posts-widget ul[data-type="large-thumbs"] li {
    --marginBottom: 25px
}

.ct-posts-widget ul[data-type="large-thumbs"] li a {
    --display: block
}

.ct-posts-widget ul[data-type="large-thumbs"] li a .ct-image-container {
    margin-bottom: 12px
}

.ct-posts-widget ul[data-type="large-thumbs"] li a .ct-post-title {
    --fontSize: 17px;
    --fontWeight: 600
}

.ct-posts-widget ul[data-type="large-small"] li:first-child {
    --marginBottom: 30px
}

.ct-posts-widget ul[data-type="large-small"] li:first-child a {
    --display: block
}

.ct-posts-widget ul[data-type="large-small"] li:first-child a .ct-image-container {
    margin-bottom: 20px
}

.ct-posts-widget ul[data-type="large-small"] li:first-child a .ct-post-title {
    --fontSize: 17px;
    --fontWeight: 600
}

.ct-posts-widget ul[data-type="rounded"] .ct-image-container {
    overflow: hidden;
    border-radius: 100%;
    -webkit-mask-image: -webkit-radial-gradient(white, black)
}

.ct-posts-widget ul[data-type="numbered"] {
    counter-reset: ct-counter
}

.ct-posts-widget ul[data-type="numbered"] a {
    grid-template-columns: 34px 1fr;
    grid-column-gap: 15px
}

.ct-posts-widget ul[data-type="numbered"] a:before {
    counter-increment: ct-counter;
    content: counter(ct-counter);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 100%;
    border: 1px solid #E5E5E5;
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

.ct-posts-widget ul[data-type="numbered"] a:hover:before {
    color: #fff;
    border-color: var(--paletteColor1);
    background: var(--paletteColor1)
}

.ct-posts-widget ul[data-type="numbered"] .ct-post-title::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - 1.65) * 0.5em)
}

.ct-quote-widget {
    --color: #fff;
    position: relative;
    min-height: 250px;
    border-radius: 7px;
    padding: 70px 40px 60px 60px !important;
    background: var(--paletteColor1) !important
}

.ct-quote-widget:before {
    position: absolute;
    top: 50px;
    left: 35px;
    content: "â€";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 200px;
    line-height: 150px;
    opacity: 0.3;
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.ct-quote-widget .ct-quote-author {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 25px;
    --fontWeight: 500
}

.ct-quote-widget .ct-quote-author figure {
    max-width: 40px;
    border-radius: 100%
}

.ct-about-me-widget figure {
    margin-bottom: 15px
}

.ct-about-me-widget figure[data-size="small"] {
    max-width: 90px
}

.ct-about-me-widget figure[data-size="medium"] {
    max-width: 140px
}

.ct-about-me-widget figure[data-shape="square"] {
    border-radius: 2px
}

.ct-about-me-widget figure[data-shape="rounded"] {
    border-radius: 100%
}

.ct-about-me-widget .ct-about-me-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.ct-about-me-widget .ct-about-me-name:not(:last-child) {
    margin-bottom: 15px
}

.ct-about-me-widget .ct-about-me-text:not(:last-child) {
    margin-bottom: 25px
}

.ct-about-me-widget .ct-about-me-link {
    font-size: 13px;
    font-weight: normal
}

.ct-about-me-widget [data-alignment="center"] {
    text-align: center
}

.ct-about-me-widget [data-alignment="center"] .ct-social-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ct-about-me-widget [data-alignment="right"] {
    text-align: right
}

.ct-about-me-widget [data-alignment="right"] .ct-social-box {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.ct-about-me-widget [data-type="bordered"] {
    padding: 35px 25px;
    border-radius: 7px;
    background: #fff;
    border: 1px dashed rgba(0, 0, 0, 0.1)
}

.ct-about-me-widget .ct-social-box {
    --spacing: 15px
}

.ct-about-me-widget [data-color="custom"][data-type="simple"] {
    --color: rgba(100, 110, 119, 1);
    --colorHover: var(--paletteColor1)
}

.ct-about-me-widget [data-color="custom"][data-fill="solid"] {
    --color: rgba(100, 110, 119, 1);
    --colorHover: #fff;
    --backgroundColor: rgba(218, 222, 228, 0.3);
    --backgroundColorHover: var(--paletteColor1)
}

.ct-about-me-widget [data-color="custom"][data-fill="outline"] {
    --color: rgba(100, 110, 119, 1);
    --colorHover: var(--paletteColor1);
    --backgroundColor: rgba(218, 222, 228, 1);
    --backgroundColorHover: var(--paletteColor1)
}

.ct-facebook-like-box {
    overflow: hidden;
    --fbHeader: 0px;
    --fbFacepile: 0px
}

.ct-facebook-like-box .fb-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ct-facebook-like-box .fb-page[data-small-header="false"] {
    --fbHeader: 130px
}

.ct-facebook-like-box .fb-page[data-small-header="true"] {
    --fbHeader: 70px
}

.ct-facebook-like-box .fb-page[data-show-facepile="true"] {
    --fbFacepile: 84px
}

.ct-facebook-like-box .fb-page:not([data-tabs="timeline"]) {
    min-height: calc(var(--fbHeader) + var(--fbFacepile))
}

.ct-facebook-like-box .fb-page[data-tabs="timeline"] {
    min-height: 500px
}

.ct-facebook-like-box iframe {
    max-width: 500px;
    margin: 0 auto
}

.ct-contact-info-widget .ct-contact-info-text {
    margin-bottom: 20px
}

.ct-contact-info-widget li {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-column-gap: 18px;
    font-size: 15px;
    --listItemSpacing: 0 0 20px 0
}

.ct-contact-info-widget li:hover i {
    color: #fff
}

.ct-contact-info-widget li:hover i:before {
    opacity: 1;
    border-color: var(--paletteColor1);
    background: var(--paletteColor1)
}

.ct-contact-info-widget i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 48px;
    height: 48px;
    color: inherit;
    -webkit-transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.ct-contact-info-widget i:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    border-radius: 100%;
    border: 1px solid currentColor;
    -webkit-transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.ct-contact-info-widget i svg {
    z-index: 2;
    fill: currentColor
}

.ct-contact-info-widget .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.ct-contact-info-widget .contact-title {
    font-weight: 600
}

.ct-socials-widget {
    --spacing: 20px
}

.ct-socials-widget [data-color="custom"][data-type="simple"] {
    --color: rgba(100, 110, 119, 1);
    --colorHover: var(--paletteColor1)
}

.ct-socials-widget [data-color="custom"][data-fill="solid"] {
    --color: rgba(100, 110, 119, 1);
    --colorHover: #fff;
    --backgroundColor: rgba(218, 222, 228, 0.3);
    --backgroundColorHover: var(--paletteColor1)
}

.ct-socials-widget [data-color="custom"][data-fill="outline"] {
    --color: rgba(100, 110, 119, 1);
    --colorHover: var(--paletteColor1);
    --backgroundColor: rgba(218, 222, 228, 1);
    --backgroundColorHover: var(--paletteColor1)
}